# Box Office Revenue Prediction

## Imports

In [202]:
# Widen width of notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))

In [203]:
import pandas as pd
import numpy as np


import re # regex
import ast

from datetime import datetime
from datetime import date

from sklearn import metrics
from sklearn import preprocessing
from sklearn.pipeline import Pipeline
from sklearn.metrics import f1_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import learning_curve, RandomizedSearchCV, train_test_split

## Data Sources
1. IMDB:
    * No. of ratings (star)
    * Avg. star rating (out of 10)
    * No. of user ratings (text reviews)
    * No. of critic ratings (meta critic)
    * Countries (truncate to just first country) - √
    * Language (truncate to just first language) - √
    * No. of languages (to be created from previous column) - √
    * Production house (truncate to just first production house) - √
    * Duration (convert to minutes/numeric from string) - √
    * Genre (need to explode to one-hot columns for 24 genres) - √
    * MPAA rating 
        * TV- ratings - reclassify - √ 
        * Not Rated --> PG-13/Unrated --> PG - many from non-English fall under these categories - √  
       
    * **Gross:** 'Y' variable (need to remove movies with alphabet-only gross, convert INR (other currencies?) to USD and 3 INR 3-digit movies):
        * **`TODO`** Adjust for inflation, based on year of release
    * **`TODO`** Release date + release region - separate out into 2 columns:
        * convert first to datetime and use as a feature (holiday - US - release/not) 

    
&nbsp; 
2. Popularity Scores:
    * Average popularity score per movie

&nbsp; 

3. Sentiment Scores (**`TODO`**):
    * AFINN score - based on IMDB user reviews pre-release
    * AFINN score - based on IMDB user reviews post-release
    

&nbsp;    
4. YouTube (**`TODO`**):
    * View count
    * Like count
    * Dislike count
    * Comment count

## Reading Excel File(s)
#### !!!!!! IMPORTANT- manually removed the unnamed serial number column from the excel sheet I'm reading below!!!!! 
#### Check that it is removed in your excel sheet also

In [281]:
# read xlsx with IMDB_ID as the indexing column (2nd column from the left, or 1st column) 
df = pd.read_excel("Final_data_sheets_updated_popularity_scores.xlsx", index_col = 0)

In [282]:
# read xlsx with IMDB_ID as the indexing column (2nd column from the left, or 1st column) 
df = pd.read_excel("Final_data_sheets_with_Features.xlsx", index_col = 0)

In [283]:
df.shape

(4351, 28)

In [284]:
df.dtypes

Name                             object
num_ratings                       int64
avg_rating                      float64
main_cast_list                   object
main_cast_links                  object
dir_list                         object
creator_list                     object
genre                            object
motion_picture_rating            object
release_date                     object
duration                         object
meta_critic_score               float64
num_user_ratings                float64
num_critic_ratings              float64
story_line                       object
others                           object
Gross                            object
Country                          object
Language                         object
Production_House                 object
viewCount                         int64
likeCount                         int64
dislikeCount                      int64
commentCount                      int64
Afinn Pre Release               float64
Afinn Post Release              float64
Release date             datetime64[ns]
Holiday                           int64
dtype: object

In [286]:
# inspect
df.head(50)

,Name,num_ratings,avg_rating,main_cast_list,main_cast_links,dir_list,creator_list,genre,motion_picture_rating,release_date,...,Language,Production_House,viewCount,likeCount,dislikeCount,commentCount,Afinn Pre Release,Afinn Post Release,Release date,Holiday
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
1690470,Gekijouban Poketto monsutâ: Daiamondo & Pâru -...,1251,6.2,Ikue Ôtani|Sarah Natochenny|Wayne Grayson,/name/nm0649026/|/name/nm2516299/|/name/nm0969...,Kunihiko Yuyama,Satoshi Tajiri|Hideki Sonoda,"[Animation, Action, Family, Fantasy, Sci-Fi]",Not Rated,10 July 2010 (Japan),...,Japanese|English,"East Japan Marketing & Communications Inc., G...",0,0,0,0,0.000000,0.000000,2010-07-10,0
1508290,Kyatapirâ,952,6.7,Shinobu Terajima|Keigo Kasuya|Emi Masuda,/name/nm0855429/|/name/nm2486225/|/name/nm3787...,Kôji Wakamatsu,Hisako Kurosawa|Masao Adachi,"[Drama, War]",Not Rated,14 August 2010 (Japan),...,Japanese,"Skhole Co., Wakamatsu Production",0,0,0,0,0.000000,-23.000000,2010-08-14,0
2057455,Dalpaengee eui byeol,323,7.3,Cho Young-Chan|Kim Soon-ho|Choi Jungah,/name/nm9804862/|/name/nm9804863/|/name/nm9804...,Seung-jun Yi,NaN,"[Documentary, Drama]",Not Rated,15 February 2014 (Japan),...,Korean,"CreativeEAST, Dalpaengee, NHK",0,0,0,0,0.000000,13.000000,2014-02-15,0
2077826,Gekijoban Poketto Monsuta besuto uisshu bikuti...,1152,6.1,Rica Matsumoto|Ikue Ôtani|Hideki Takahashi,/name/nm0559551/|/name/nm0649026/|/name/nm0847...,Kunihiko Yuyama,Junichi Masuda|Hideki Sonoda|Ken Sugimori|Sato...,"[Animation, Adventure, Drama, Family, Fantasy,...",Not Rated,16 July 2011 (Japan),...,Japanese|English,"Creatures, GAME FREAK, Holm Inc.",0,0,0,0,0.000000,0.000000,2011-07-16,0
1937133,De l'autre côté du périph,4319,5.8,Omar Sy|Laurent Lafitte|Sabrina Ouazani,/name/nm1082477/|/name/nm0480850/|/name/nm1493...,David Charhon,Eric Altmayer|Nicolas Altmayer|David Charhon|A...,"[Action, Comedy, Crime, Drama]",R,19 December 2012 (France),...,French,"Mandarin Films, Mars Films, M6 Films",0,0,0,0,0.000000,0.000000,2012-12-19,0
6595896,Gekijouban Poketto monsutâ: Kimi ni kimeta!,3870,6.4,Unshô Ishizuka|Rica Matsumoto|Sarah Natochenny,/name/nm0411167/|/name/nm0559551/|/name/nm2516...,Kunihiko Yuyama,Takeshi Shudo|Satoshi Tajiri|Shôji Yonemura,"[Animation, Action, Adventure, Family, Fantasy]",Not Rated,23 November 2017 (Singapore),...,Japanese,"Oriental Light and Magic (OLM), Pikachu Proje...",0,0,0,0,12.250000,26.692308,2017-11-23,1
4294052,Shingeki no kyojin endo obu za wârudo,3753,4.8,Haruma Miura|Hiroki Hasegawa|Kanata Hongô,/name/nm2067218/|/name/nm4056296/|/name/nm1959...,Shinji Higuchi,Hajime Isayama|Tomohiro Machiyama|Yûsuke Watanabe,"[Action, Drama, Fantasy, Horror, Sci-Fi]",Not Rated,24 September 2015 (Singapore),...,Japanese,"Kôdansha, Licri, Nikkatsu",0,0,0,0,6.333333,0.000000,2015-09-24,0
5278832,Córki dancingu,4793,6.4,Marta Mazurek|Michalina Olszanska|Kinga Preis,/name/nm4658761/|/name/nm5584702/|/name/nm0695...,Agnieszka Smoczynska,Robert Bolesto,"[Comedy, Drama, Fantasy, Horror, Musical, Thri...",Not Rated,25 December 2015 (Poland),...,Polish,Wytwórnia Filmów Dokumentalnych i Fabularnych...,0,0,0,0,0.000000,0.000000,2015-12-25,1
4505170,Joseon Myungtamjung: Nobui Ddal,387,6.4,Myung-Min Kim|Yeon-hee Lee|Dal-su Oh,/name/nm1047988/|/name/nm2165232/|/name/nm1367...,Suk-Yoon Kim,NaN,"[Action, Adventure, Comedy]",G,11 February 2015 (South Korea),...,NaN,"Bakugan Zoobles Comics, DMZ Comics, Showbox/M...",3215,8,0,1,0.000000,0.000000,2015-02-11,0
3809478,The Kind Words,225,6.8,Rotem Zissman-Cohen|Rassabn Abes|Roy Assaf,/name/nm1577510/|/name/nm8584239/|/name/nm2507...,Shemi Zarhin,Shemi Zarhin,Drama,Not Rated,28 May 2015 (Israel),...,French|Hebrew,"Amérique Film, Israel Film Council, Jerusalem...",6104,22,4,4,36.000000,0.000000,2015-05-28,0
4096620,Troublemakers: The Story of Land Art,104,6.5,Vito Acconci|Carl Andre|Germano Celant,/name/nm0009625/|/name/nm6824577/|/name/nm0147...,James Crump,James Crump,"[Documentary, Biography, History]",Not Rated,8 January 2016 (USA),...,English,Summitridge Pictures,12115,108,0,2,0.000000,0.000000,2016-01-08,0
6162808,Miss Saigon: 25th Anniversary,967,8.2,Jon Jon Briones|Eva Noblezada|Alistair Brammer,/name/nm1490183/|/name/nm8405300/|/name/nm4337...,Brett Sullivan,Alain Boublil|Claude-Michel Schönberg,Musical,R,16 October 2016 (UK),...,English,Cameron Mackintosh International,38896,163,1,20,44.000000,0.000000,2016-10-16,0
3103166,The Masked Saint,554,4.6,Brett Granstaff|Lara Jean Chorostecki|T.J. McG...,/name/nm1616666/|/name/nm1892299/|/name/nm5972...,Warren P. Sonoda,Scott Crowell|Scott Crowell|Brett Granstaff,"[Action, Biography, Crime, Drama, Family, Fant...",PG-13,22 January 2016 (Canada),...,English,"P23 Entertainment, Ridgerock Entertainment Gr...",48002,132,14,8,14.000000,15.888889,2016-01-22,0
4379728,San ren xing,1495,5.9,Wei Zhao|Kathy Wu|Louis Koo,/name/nm0955505/|/name/nm7324058/|/name/nm0465...,Johnnie To,Ho Leung Lau|Tin Shu Mak|Nai-Hoi Yau,"[Action, Crime, Thriller]",Not Rated,30 June 2016 (Singapore),...,Mandarin|English|Cantonese,"Media Asia Films, Milky Way Image Company, Sh...",67378,44,11,2,0.000000,-1.500000,2016-06-30,0
1421046,"No eres tú, soy yo",895,5.7,Eugenio Derbez|Martina García|Alejandra Barros,/name/nm0220240/|/name/nm0306357/|/name/nm0057...,Alejandro Springall,Alejandro Springall|Luis Aura|Juan Taratuto|Ce...,"[Comedy, Romance]",PG-13,27 August 2010 (Mexico),...,Spanish,"Rio Negro, Warner Bros.",68049,105,9,6,0.000000,0.000000,2010-08-27,0
4558042,Elstree 1976,1144,6.0,Paul Blake|Jeremy Bulloch|John Chapman,/name/nm0086685/|/name/nm0120116/|/name/nm0152...,Jon Spira,Jon Spira,Documentary,Not Rated,6 May 2016 (USA),...,English,"British Film Company, Canal Cat Films, Verax ...",73237,340,6,27,26.000000,21.000000,2016-05-06,0
3324494,La prochaine fois je viserai le coeur,2172,6.4,Guillaume Canet|Ana Girardot|Jean-Yves Berteloot,/name/nm0133899/|/name/nm0320759/|/name/nm0077...,Cédric Anger,Cédric Anger|Yvan Stefanovitch|Martine Laroche,"[Crime, Drama, Thriller]",Not Rated,12 November 2014 (France),...,French,"Sunrise Films, Les Productions du Trésor, Mar...",82445,179,9,17,3.000000,0.000000,2014-11-12,0
4191702,Norman: The Moderate Rise and Tragic Fall of a...,4852,6.1,Richard Gere|Lior Ashkenazi|Michael Sheen,/name/nm0000152/|/name/nm0038988/|/name/nm0790...,Joseph Cedar,Joseph Cedar,"[Drama, Thriller]",R,9 March 2017 (Israel),...,English|Hebrew,"Blackbird, Cold Iron Pictures, Movie Plus pro...",140695,141,18,9,-2.000000,0.000000,2017-03-09,0
3319508,She's Beautiful When She's Angry,1289,7.9,Chude Pamela Allen|Alta|Judith Arcana,/name/nm6950213/|/name/nm6950216/|/name/nm6950...,Mary Dore,NaN,"[Documentary, History]",Not Rated,2 October 2014 (USA),...,English,NaN,192396,1527,42,106,0.000000,10.333333,2014-10-02,0
3908598,Lamb,1690,6.3,Ross Partridge|Oona Laurence|Jess Weixler,/name/nm0664061/|/name/nm4802218/|/name/nm1422...,Ross Partridge,Bonnie Nadzam|Ross Partridge|Ross Partridge,Drama,R,12 January 2016 (USA),...,English,"Silent Helicopter, The Shot Clock",200144,810,226,348,-1.000000,-5.000000,2016-01-12,0
3698118,Gangnam 1970,1266,6.3,Min-Ho Lee|Rae-won Kim|Jin-young Jung,/name/nm3316279/|/name/nm0453640/|/name/nm1045...,Ha Yoo,Ha Yoo,"[Action, Drama]",Not Rated,29 January 2015 (Singapore),...,Korean,"Sega Sammy Entertainment, Showbox/Mediaplex, ...",217520,431,14,48,0.000000,0.000000,2015-01-29,0
4326444,Julieta,23989,7.1,Emma Suárez|Adriana Ugarte|Daniel Grao,/name/nm0840772/|/name/nm1246047/|/name/nm1268...,Pedro Almodóvar,Pedro Almodóvar|Alice Munro,"[Drama, Mystery, Romance]",R,29 December 2016 (Singapore),...,Spanish,"Echo Lake Entertainment, Canal+ France, Ciné +",238355,265,25,12,19.000000,11.260870,2016-12-29,0
4370784,Les innocentes,7836,7.3,Lou de Laâge|Agata Buzek|Agata Kulesza,/name/nm3650704/|/name/nm0125588/|/name/nm0474...,Anne Fontaine,Sabrina B. Karine|Alice Vial|Anne Fontaine|Pas...,"[Drama, History]",PG-13,10 February 2016 (France),...,French|Polish|Russian,"Mandarin Films, Aeroplan Film, Mars Films",246255,269,20,21,19.000000,0.000000,2016-02-10,0
4698584,Neruda,7961,6.9,Gael García Bernal|Luis Gnecco|Mercedes Morán,/name/nm0305558/|/name/nm0323483/|/name/nm0608...,Pablo Larraín,Guillermo Calderón,"[Biography, Crime, Drama, History]",R,11 August 2016 (Chile),...,Spanish|French|Dutch|Mapudungun,"AZ Films, Ad hoc studios, Casting del Sur",260954,930,36,46,0.000000,0.000000,2016-08-11,0
4936450,Bacalaureat,10161,7.4,Adrian Titieni|Maria Dragus|Lia Bugnar,/name/nm0864458/|/name/nm2661864/|/name/nm0119...,Cristian Mungiu,Cristian Mungiu,"[Crime, Drama]",R,20 May 2016 (Romania),...,Romanian,"Canal+, Ciné+, Eurimages",269621,587,59,0,-12.000000,0.000000,2016-05-20,0
4002772,Once I Was a Beehive,960,6.3,Paris Warner|Lisa Clark|Hailey Smith,/name/nm6455381/|/name/nm2285994/|/name/nm1208...,Maclain Nelson,Maclain Nelson|Maclain Nelson,"[Comedy, Drama, Family]",PG,14 August 2015 (USA),...,English,"Main Dog Productions, Escapology",307329,706,66,93,17.000000,38.000000,2015-08-14,0
5278596,Weiner,8922,7.6,Anthony Weiner|Huma Abedin|Jordan Zain Weiner,/name/nm2603811/|/name/nm5486628/|/name/nm8152...,Josh Kriegman|Elyse Steinberg,Josh Kriegman|Elyse Steinberg|Eli B. Despres,Documentary,R,26 May 2016 (USA),...,English,"Edgeline Films, Motto Pictures",340766,1110,97,252,-2.333333,-6.666667,2016-05-26,0
4621872,La pazza gioia,6930,7.2,Valeria Bruni Tedeschi|Micaela Ramazzotti|Vale...,/name/nm0116254/|/name/nm0708045/|/name/nm0138...,Paolo Virzì,Paolo Virzì|Paolo Virzì|Francesca Archibugi,"[Comedy, Drama]",Not Rated,17 May 2016 (Italy),...,Italian|English,"Lotus Productions, Motorino Amaranto, Manny F...",519855,847,56,97,0.000000,0.000000,2016-05-17,0
3917210,"Life, Animated",4994,7.5,Owen Suskind|Ron Suskind|Cornelia Suskind,/name/nm7882777/|/name/nm2328967/|/name/nm8283...,Roger Ross Williams,Ron Suskind,"[Documentary, Comedy, Drama, Family, Fantasy, ...",PG,20 October 2016 (Denmark),...,English,"A&E IndieFilms, Motto Pictures, Roger Ross Wi...",557873,3034,79,176,0.000000,25.333333,2016-10-20,0
5225338,The Eyes of My Mother,9284,6.2,Kika Magalhães|Will Brill|Olivia Bond,/name/nm5490961/|/name/nm2939030/|/name/nm6796...,Nicolas Pesce,Nicolas Pesce,"[Drama, Horror]",R,2 December 2016 (USA),...,English|Portuguese,"Borderline Presents, Tandem Pictures",758587,1494,170,355,15.571429,6.000000,2016-12-02,0
4126438,The Ones Below,7863,6.1,Clémence Poésy|David Morrissey|Stephen Campbel...,/name/nm0993242/|/name/nm0607375/|/name/nm1304...,David Farr,David Farr,"[Drama, Thriller]",R,11 March 2016 (UK),...,English,"Cuba Pictures, Tigerlily Films, BBC Films",792410,1169,99,155,0.000000,3.000000,2016-03-11,0
5112578,Super Dark Times,13665,6.6,Owen Campbell|Charlie Tahan|Elizabeth Cappuccino,/name/nm3338805/|/name/nm2253071/|/name/nm4327...,Kevin Phillips,Ben Collins|Luke Piotrowski,"[Drama, Thriller]",Not Rated,29 September 2017 (USA),...,English,"Ways & Means, Neighborhood Watch, Lila 9th Pr...",821711,2994,137,386,17.000000,10.500000,2017-09-29,0
4501454,The Meddler,10313,6.3,Susan Sarandon|Rose Byrne|J.K. Simmons,/name/nm0000215/|/name/nm0126284/|/name/nm0799...,Lorene Scafaria,Lorene Scafaria,"[Comedy, Drama, Romance]",PG-13,3 June 2016 (Spain),...,English,"Anonymous Content, Stage 6 Films",1023607,3064,135,124,0.000000,31.000000,2016-06-03,0
4048272,Toni Erdmann,37598,7.4,Sandra Hüller|Peter Simonischek|Michael Witten...,/name/nm1197689/|/name/nm0800638/|/name/nm0937...,Maren Ade,Maren Ade,"[Comedy, Drama]",R,14 July 2016 (Germany),...,German|English|Romanian,"Komplizen Film, Coop99 Filmproduktion, KNM",1059988,1029,118,168,0.000000,13.000000,2016-07-14,0
5168192,"I, Daniel Blake",43123,7.9,Dave Johns|Hayley Squires|Sharon Percy,/name/nm0424302/|/name/nm4842197/|/name/nm0672...,Ken Loach|Laura Obiols,Paul Laverty,Drama,R,21 October 2016 (UK),...,English,"Sixteen Films, Why Not Productions, Wild Bunch",1276989,4165,180,0,0.222222,9.727273,2016-10-21,0
4230700,Complete Unknown,5085,5.4,Erin Darke|Rachel Weisz|Hansel Tan,/name/nm3520615/|/name/nm0001838/|/name/nm5846...,Joshua Marston,Joshua Marston|Julian Sheppard,"[Drama, Mystery]",R,26 August 2016 (USA),...,English|Persian,"Parts and Labor, Heron Television",1828246,6260,556,543,0.000000,31.000000,2016-08-26,0
3666024,La tortue rouge,24439,7.5,Emmanuel Garijo|Tom Hudson|Baptiste Goy,/name/nm0307430/|/name/nm8940317/|/name/nm8940...,Michael Dudok de Wit,Michael Dudok de Wit|Pascale Ferran|Michael Du...,"[Animation, Fantasy]",PG,29 June 2016 (France),...,None,"Prima Linea Productions, Why Not Productions,...",1933425,23420,445,1261,21.000000,0.000000,2016-06-29,0
5044656,The Shadow Effect,1357,4.2,Jonathan Rhys Meyers|Cam Gigandet|Michael Biehn,/name/nm0001667/|/name/nm1544217/|/name/nm0000...,Obin Olson|Amariah Olson,Chad Law|Evan Law|George Abbott Clark|Anthony ...,"[Action, Drama, Mystery, Thriller]",Not Rated,21 April 2017 (Vietnam),...,English,"DV3 Productions, Status Media & Entertainment",2158534,3605,542,203,0.000000,0.000000,2017-04-21,0
4796122,Satanic,5188,3.7,Sarah Hyland|Steven Krueger|Justin Chon,/name/nm0405103/|/name/nm3374941/|/name/nm2014...,Jeffrey G. Hunt,Anthony Jaswinski,Horror,R,1 July 2016 (USA),...,English,"Magnet Releasing, MarVista Entertainment, Cir...",2212483,6598,2598,1290,-4.000000,-17.000000,2016-07-01,0
3960412,Popstar: Never Stop Never Stopping,46297,6.7,Andy Samberg|Jorma Taccone|Akiva Schaffer,/name/nm1676221/|/name/nm1672246/|/name/nm1676...,Akiva Schaffer|Jorma Taccone,Andy Samberg|Akiva Schaffer|Jorma Taccone,"[Comedy, Music]",R,3 June 2016 (USA),...,English,"Universal Pictures, Perfect World Pictures (B...",2339273,10898,952,893,17.600000,24.000000,2016-06-03,0
5215952,Gok-seong,34036,7.4,Jun Kunimura|Jung-min Hwang|Do-won Kwak,/name/nm0475165/|/name/nm1058565/|/name/nm3483...,Hong-jin Na,Hong-jin Na|Hong-jin Na,"[Horror, Mystery, Thriller]",Not Rated,28 July 2016 (Singapore),...,Korean|Japanese,"20th Century Fox, Fox International Productio...",2557897,5231,239,953,15.666667,7.333333,2016-07-28,0
4513674,Café Society,61315,6.6,Jesse Eisenberg|Kristen Stewart|Steve Carell,/name/nm0251986/|/name/nm0829576/|/name/nm0136...,Woody Allen,Woody Allen,"[Comedy, Drama, Romance]",PG-13,8 September 2016 (Singapore),...,English|Hebrew,"Gravier Productions, Perdido Productions, Fil...",3053995,11146,736,1165,18.315789,29.232143,2016-09-08,0
995868,Pelé: Birth of a Legend,13571,7.2,Vincent D'Onofrio|Rodrigo Santoro|Diego Boneta,/name/nm0000352/|/name/nm0763928/|/name/nm1546...,Jeff Zimbalist|Michael Zimbalist,Jeff Zimbalist|Michael Zimbalist,"[Biography, Drama, Sport]",PG,5 May 2016 (Singapore),...,English,"Imagine Entertainment, Seine Pictures, Zohar ...",3065403,16961,492,891,29.000000,19.000000,2016-05-05,0
2112096,Absolutely Fabulous: The Movie,10791,5.4,Jennifer Saunders|Joanna Lumley|Jane Horrocks,/name/nm0766837/|/name/nm0525921/|/name/nm0001...,Mandie Fletcher,Jennifer Saunders,"[Comedy, Crime]",R,25 August 2016 (Singapore),...,English|French,"Fox Searchlight Pictures, British Film Company",3121817,11453,852,990,9.333333,18.230769,2016-08-25,0
5592248,The Beguiled,41436,6.3,Nicole Kidman|Kirsten Dunst|Elle Fanning,/name/nm0000173/|/name/nm0000379/|/name/nm1102...,Sofia Coppola,Sofia Coppola|Thomas Cullinan|Albert Maltz|Ire...,"[Drama, Thriller]",R,7 September 2017 (Singapore),...,English|French,"American Zoetrope, FR Productions",3260896,18547,837,1081,5.500000,5.768519,2017-09-07,0
4437216,Goat,6613,5.7,Ben Schnetzer|Nick Jonas|Gus Halper,/name/nm3115493/|/name/nm2679917/|/name/nm5871...,Andrew Neel,David Gordon Green|Brad Land|Andrew Neel|Mike ...,Drama,R,23 September 2016 (USA),...,English,"Killer Films, Fresh Jade, RabbitBandini Produ...",3336540,13446,2977,1568,-5.500000,-16.000000,2016-09-23,0
3836958,Shamitabh,6407,6.8,Amitabh Bachchan|Dhanush|Akshara Haasan,/name/nm0000821/|/name/nm1333687/|/name/nm7432...,R. Balki,R. Balki,Drama,Not Rated,6 February 2015 (India),...,Hindi,"Hope Productions, Amitabh Bachchan Corporatio...",4279400,12889,1359,901,20.555556,26.750000,2015-02-06,0
4799050,Rough Night,37757,5.2,Scarlett Johansson|Kate McKinnon|Zoë Kravitz,/name/nm0424060/|/name/nm0571952/|/name/nm2368...,Lucia Aniello,Lucia Aniello|Paul W. Downs,"[Comedy, Crime, Thriller]",R,24 August 2017 (Singapore),...,English|Spanish,"Paulilu Productions, Sony Pictures Entertainm...",5439153,25012,13932,4875,8.923077,7.937500,2017-08-24,0
3949660,Teenage Mutant Ninja Turtles: Out of the Shadows,76244,6.0,Megan Fox|Will Arnett|Tyler Perry,/name/nm1083271/|/name/nm0004715/|/name/nm1347...,Dave Green,Josh Appelbaum|André Nemec|Peter Laird|Kevin E...,"[Action, Adventure, Comedy, Sci-Fi]",PG-13,2 June 2016 (Singapore),...,English,"Paramount Pictures, Nickelodeon Movies, Plati...",5551395,28576,1981,3857,18.836735,18.347826,2016-06-02,0
4193394,Indignation,10438,6.8,Logan Lerman|Sarah Gadon|Tijuana Ricks,/name/nm0503567/|/name/nm0300589/|/name/nm1787...,James Schamus,Philip Roth|James Schamus,"[Drama, Romance]",R,18 August 2016 (Singapore),...,English|Hebrew,"Bing Feng Bao Entertainment, Likely Story, RT...",5760171,36546,882,1404,26.400000,6.555556,2016-08-18,0

In [287]:
df.tail(5)

,Name,num_ratings,avg_rating,main_cast_list,main_cast_links,dir_list,creator_list,genre,motion_picture_rating,release_date,...,Language,Production_House,viewCount,likeCount,dislikeCount,commentCount,Afinn Pre Release,Afinn Post Release,Release date,Holiday
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
3626180,The Christmas Secret,2125,7.3,Bethany Joy Lenz|John Reardon|Susan Hogan,/name/nm0502342/|/name/nm1221622/|/name/nm0389...,Norma Bailey,Wesley Bishop|Judd Parkin|Donna Vanliere,"[Drama, Family, Romance]",TV-G,7 December 2014 TV Movie,...,English,NaN,0,0,0,0,0.0,0.0,2014-12-07,0
5925968,Les fausses confidences,197,5.1,Isabelle Huppert|Louis Garrel|Bulle Ogier,/name/nm0001376/|/name/nm0308039/|/name/nm0644...,Luc Bondy|Marie-Louise Bischofberger,Luc Bondy|Marivaux|Geoffrey Layton,"[Comedy, Drama]",NaN,9 March 2017 TV Movie,...,French,"Idéale Audience, ARTE France, Odéon Théâtre d...",0,0,0,0,0.0,0.0,2017-03-09,0
1482393,Beverly Hills Chihuahua 2,2901,4.4,Marcus Coloma|Erin Cahill|Susan Blakely,/name/nm1324844/|/name/nm0128657/|/name/nm0086...,Alex Zamm,Dannah Feinglass Phirman|Danielle Schneider|Je...,"[Adventure, Comedy, Family]",G,1 February 2011 Video,...,English,"Walt Disney Pictures, CounterPunch Studios, M...",0,0,0,0,0.0,0.0,2011-02-01,0
2483260,The Pirate Fairy,11127,6.7,Mae Whitman|Christina Hendricks|Tom Hiddleston,/name/nm0926165/|/name/nm0376716/|/name/nm1089...,Peggy Holmes,Jeffrey M. Howard|Kate Kondell|John Lasseter|P...,"[Animation, Adventure, Family, Fantasy]",G,13 February 2014 Video,...,English,"Prana Studios, Disneytoon Studios",0,0,0,0,0.0,0.0,2014-02-13,0
1216515,Tinker Bell and the Great Fairy Rescue,6664,7.0,Mae Whitman|Lauren Mote|Michael Sheen,/name/nm0926165/|/name/nm3454095/|/name/nm0790...,Bradley Raymond,Bob Hilgenberg|Rob Muir|Joe Ansolabehere|Paul ...,"[Animation, Adventure, Family, Fantasy]",G,21 September 2010 Video,...,English,Disneytoon Studios,0,0,0,0,0.0,0.0,2010-09-21,0

In [288]:
df.shape

(4351, 28)

##### Why are we dropping these?

In [289]:
df = df.drop(['main_cast_list', 'main_cast_links','dir_list','creator_list', 'meta_critic_score','story_line', 'others'], axis = 1)

In [290]:
df.tail(3)

,Name,num_ratings,avg_rating,genre,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,...,Language,Production_House,viewCount,likeCount,dislikeCount,commentCount,Afinn Pre Release,Afinn Post Release,Release date,Holiday
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
1482393,Beverly Hills Chihuahua 2,2901,4.4,"[Adventure, Comedy, Family]",G,1 February 2011 Video,1h 25min,9.0,20.0,"63,500,000",...,English,"Walt Disney Pictures, CounterPunch Studios, M...",0,0,0,0,0.0,0.0,2011-02-01,0
2483260,The Pirate Fairy,11127,6.7,"[Animation, Adventure, Family, Fantasy]",G,13 February 2014 Video,1h 18min,25.0,66.0,"67,400,000",...,English,"Prana Studios, Disneytoon Studios",0,0,0,0,0.0,0.0,2014-02-13,0
1216515,Tinker Bell and the Great Fairy Rescue,6664,7.0,"[Animation, Adventure, Family, Fantasy]",G,21 September 2010 Video,1h 16min,17.0,30.0,"10,872,752",...,English,Disneytoon Studios,0,0,0,0,0.0,0.0,2010-09-21,0

In [291]:
df.shape

(4351, 21)

## Data Transformations

### 1. Check for NAs/NANs

In [292]:
df.describe()

,num_ratings,avg_rating,num_user_ratings,num_critic_ratings,viewCount,likeCount,dislikeCount,commentCount,Afinn Pre Release,Afinn Post Release,Holiday
count,4.351000e+03,4351.000000,4267.000000,4267.000000,4.351000e+03,4.351000e+03,4351.000000,4351.000000,4351.000000,4351.000000,4351.000000
mean,4.943871e+04,6.466766,117.522615,132.775486,1.588189e+06,1.064813e+04,844.473684,1067.971731,8.816311,10.462413,0.033096
std,1.108960e+05,0.960129,173.167208,140.513302,6.871187e+06,7.684761e+04,7162.396242,9218.423397,12.745791,13.221700,0.178907
min,9.000000e+00,1.500000,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,-62.000000,-67.500000,0.000000
25%,1.779500e+03,5.900000,13.000000,29.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.299000e+03,6.600000,43.000000,77.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,5.000000,8.000000,0.000000
75%,4.256200e+04,7.100000,145.000000,192.000000,1.713150e+05,4.790000e+02,29.000000,46.500000,16.203297,18.125000,0.000000
max,1.812301e+06,9.300000,998.000000,974.000000,2.224268e+08,3.483078e+06,244120.000000,476931.000000,125.000000,106.000000,1.000000

In [293]:
df.shape

(4351, 21)

#### Columns with NAs
MPAA rating, num_user_ratings, num_critic_ratings, language, production_house

In [294]:
df.isnull().any()

Name                     False
num_ratings              False
avg_rating               False
genre                    False
motion_picture_rating     True
release_date             False
duration                  True
num_user_ratings          True
num_critic_ratings        True
Gross                    False
Country                  False
Language                  True
Production_House          True
viewCount                False
likeCount                False
dislikeCount             False
commentCount             False
Afinn Pre Release        False
Afinn Post Release       False
Release date             False
Holiday                  False
dtype: bool

#### How many NAs total?
Could be multiple NAs for a given row.

In [295]:
df.isnull().sum().sum()

648

In [296]:
df.isnull().sum()

Name                       0
num_ratings                0
avg_rating                 0
genre                      0
motion_picture_rating    355
release_date               0
duration                   1
num_user_ratings          84
num_critic_ratings        84
Gross                      0
Country                    0
Language                  13
Production_House         111
viewCount                  0
likeCount                  0
dislikeCount               0
commentCount               0
Afinn Pre Release          0
Afinn Post Release         0
Release date               0
Holiday                    0
dtype: int64

#### How many NAs per column?
Can it be manually fixed by finding the true value? Say, for duration of a couple of movies.

In [297]:
df.isnull().sum(axis = 0)

Name                       0
num_ratings                0
avg_rating                 0
genre                      0
motion_picture_rating    355
release_date               0
duration                   1
num_user_ratings          84
num_critic_ratings        84
Gross                      0
Country                    0
Language                  13
Production_House         111
viewCount                  0
likeCount                  0
dislikeCount               0
commentCount               0
Afinn Pre Release          0
Afinn Post Release         0
Release date               0
Holiday                    0
dtype: int64

In [298]:
df[df['duration'].isnull()]

,Name,num_ratings,avg_rating,genre,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,...,Language,Production_House,viewCount,likeCount,dislikeCount,commentCount,Afinn Pre Release,Afinn Post Release,Release date,Holiday
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
3861006,Xiao shi dai 3: Ci jin shi dai,619,2.7,"[Drama, Romance]",NaN,17 July 2014 (China),NaN,NaN,NaN,"86,900,000",...,Mandarin,Le Vision Pictures (Tianjin) Co.,0,0,0,0,0.0,0.0,2014-07-17,0

This anyway has other columns as NaNs (info isn't available on IMDB anymore?),  so might as well drop the row.

#### If dropping all NAs?

In [299]:
# Lose 442 (45 rows still have NA in num_user_ratings, num_critic_ratings)
df = df.dropna(subset=['Language', 'Production_House','motion_picture_rating'])
df.shape

(3909, 21)

#### num_user_ratings and num_critic_ratings still have NAs - we will impute these later (pipelining) using median

In [300]:
df.isnull().any()

Name                     False
num_ratings              False
avg_rating               False
genre                    False
motion_picture_rating    False
release_date             False
duration                 False
num_user_ratings          True
num_critic_ratings        True
Gross                    False
Country                  False
Language                 False
Production_House         False
viewCount                False
likeCount                False
dislikeCount             False
commentCount             False
Afinn Pre Release        False
Afinn Post Release       False
Release date             False
Holiday                  False
dtype: bool

In [301]:
# number of IMDB user reviews written
df['num_user_ratings'].isnull().sum()

42

In [302]:
# metacritic rating
df['num_critic_ratings'].isnull().sum()

42

### 2. Add number of languages

In [303]:
# inspect unique values
df.Language.unique()

array(['Japanese|English', 'Japanese', 'Korean', 'French', 'Polish',
       'French|Hebrew', 'English', 'Mandarin|English|Cantonese',
       'Spanish', 'English|Hebrew', 'French|Polish|Russian',
       'Spanish|French|Dutch|Mapudungun', 'Romanian', 'Italian|English',
       'English|Portuguese', 'German|English|Romanian', 'English|Persian',
       'None', 'Korean|Japanese', 'English|French', 'Hindi',
       'English|Spanish', 'English|Esperanto',
       'English|Russian|Afrikaans', 'English|Mandarin|Cantonese',
       'English|Greek|German|Japanese', 'English|American Sign Language',
       'Telugu|Tamil|Hindi|Malayalam',
       'English|Bosnian|Arabic|Dari|Hausa|Fur',
       'English|Portuguese|Thai|Bulgarian', 'English|Punjabi',
       'Kannada|Tulu', 'Malayalam|English', 'Hebrew|French|Arabic',
       'French|English', 'Punjabi|Hindi|English', 'Mandarin|Chinese',
       'Tamil|Telugu', 'Danish', 'French|Danish|Flemish',
       'Mandarin|Cantonese|English', 'French|Latin', 'English|German',
       'Mandarin|English', 'English|Ukrainian',
       'Arabic|Hebrew|English|German', 'French|Japanese',
       'Spanish|English', 'English|Arabic', 'German|English',
       'German|Spanish', 'English|German|French|Arabic',
       'French|Arabic|English', 'Estonian|Russian|Georgian',
       'English|French|Italian|Turkish', 'English|German|Czech|French',
       'English|Danish|Spanish|Albanian|Swedish|French',
       'Norwegian|English', 'Mandarin|Japanese|English',
       'English|German|Danish',
       'French|Yiddish|English|Spanish|Hebrew|Italian',
       'English|Dari|Russian|Spanish|Uzbek', 'Lithuanian',
       'Finnish|English|German', 'Korean|Hawaiian',
       'English|Mandarin|Persian', 'Telugu|Tamil', 'English|French|Latin',
       'English|Portuguese|Swahili|French', 'English|Mandarin',
       'English|Italian|French|German|Hebrew',
       'French|German|English|Spanish',
       'English|Serbian|Spanish|French|Bosnian', 'English|Japanese',
       'English|Spanish|Arabic', 'French|English|Italian', 'Tamil',
       'English|French|Spanish', 'Hindi|English', 'Polish|English',
       'Finnish|English', 'Russian', 'English|Italian|French|Japanese',
       'English|German|Hebrew', 'Mandarin|Cantonese|Thai|English|Korean',
       'English|Russian|Ukrainian', 'English|French|Urdu',
       'Hindi|Haryanvi', 'English|French|Finnish',
       'English|Japanese|French',
       'English|Spanish|American Sign Language|Arabic|Somali',
       'English|Greek|Turkish', 'English|Hindi|Bengali',
       'English|Vietnamese', 'Persian', 'Arabic|Russian|English',
       'English|German|French', 'Mandarin|Cantonese|English|Thai|Burmese',
       'Italian|Spanish|German|English', 'English|Russian|French|German',
       'French|Mandarin', 'Mandarin', 'Arabic|Amharic',
       'French|English|Russian', 'Spanish|Quechua|English',
       'Norwegian|Swedish', 'English|American Sign Language|Russian',
       'English|Dutch', 'French|German|English|Romany',
       'Portuguese|French|English|Italian',
       'English|Spanish|German|Russian', 'Spanish|English|French',
       'English|Yoruba', 'Tamil|Telugu|English|Kannada|German',
       'English|Khmer', 'English|Italian|Russian', 'Hindi|Tamil|Telugu',
       'French|Spanish', 'French|English|Spanish',
       'Russian|English|Chinese', 'Hindi|Indian Sign Language',
       'English|Italian|Icelandic', 'French|English|German',
       'Spanish|Portuguese|Aboriginal|German|Catalan|Latin|English',
       'English|Spanish|Armenian', 'English|Hindi',
       'Polish|French|German|Russian|Italian|Croatian',
       'English|Hindi|French|German|Mandarin', 'English|Russian',
       'English|Danish', 'English|German|Italian|Russian',
       'English|French|Greek', 'English|Russian|Hungarian',
       'French|German', 'Italian|English|French', 'Turkish', 'Portuguese',
       'Korean|English', 'English|Italian|French|German',
       'Telugu|Hindi|Malayalam', 'English|French|Italian',
       'English|Armenian', 'Swedish|English',
       'Japanese|Japanese Sign Language|English|German', 'German',
       'Cantonese|English', 'Arabic',
       'English|American Sign Language|Russian|French',
       'German|Greek|English|Turkish', 'Spanish|English|Catalan',
       'English|Swedish|French|Spanish|German', 'French|Czech|English',
       'English|French|German', 'English|Italian|Swedish',
       'English|Danish|Italian', 'Mandarin|Mongolian', 'Telugu',
       'Aboriginal', 'Indonesian', 'French|Persian',
       'English|Mandarin|Cantonese|Hokkien|French|Malay',
       'Russian|English|Korean', 'English|Cantonese|Mandarin',
       'Hindi|Tamil|English|French', 'Filipino|Tagalog|English|Spanish',
       'English|Swedish|Danish', 'English|Pushto|Dari|French',
       'English|Swedish', 'English|French|Swedish|German',
       'English|Portuguese|German', 'English|Spanish|French|Yoruba',
       'Mandarin|English|French', 'Hebrew', 'Tswana|English',
       'Arabic|English|Turkish', 'Korean|Japanese|English|Hindi',
       'English|French|Russian|German|Mandarin',
       'Korean|Japanese|Czech|English', 'English|French|Ukrainian',
       'English|Hebrew|German', 'French|Spanish|English', 'Hindi|Telugu',
       'English|Spanish|Swiss German', 'Italian', 'Korean|Chinese',
       'English|Cantonese', 'Hindi|English|Chinese|Spanish',
       'Swedish|German|English|Spanish|French|Russian',
       'Korean|English|Japanese|Cantonese|Mandarin|French|Korean Sign Language',
       'French|Arabic', 'English|Japanese|Mongolian',
       'Polish|English|Yiddish|Russian', 'Yiddish|English|Spanish',
       'Swedish|English|Italian|French',
       'English|German|Russian|French|Flemish|Dutch',
       'Hindi|English|French|Japanese|Dutch', 'Mandarin|Korean|English',
       'Hungarian|German', 'Mandarin|English|Latin', 'English|Italian',
       'Korean|English|German', 'English|Czech|German', 'English|Irish',
       'English|Portuguese|French', 'Korean|Mandarin|Japanese',
       'Mandarin|Thai|Sanskrit', 'English|Hungarian',
       'English|German|Spanish', 'English|Chinese', 'Hindi|Kashmiri',
       'English|Cheyenne', 'Swedish|Persian', 'Mandarin|Japanese',
       'Hindi|English|Mandarin|Japanese', 'Cantonese|Mandarin',
       'Icelandic', 'Spanish|English|Spanish Sign Language',
       'English|German|Russian', 'English|Korean',
       'American Sign Language|English',
       'English|Mandarin|French|Italian|German|Spanish|Korean',
       'English|Urdu', 'English|French|Romanian|Latin',
       'English|Japanese|Chinese',
       'Icelandic|Swedish|English|Spanish|Russian',
       'English|French|Polish', 'Telugu|Malayalam',
       'Mandarin|Tagalog|English|Hokkien', 'Danish|English|German|French',
       'Basque', 'English|American Sign Language|Latin',
       'English|Spanish|Portuguese', 'Tamil|Hindi|Telugu',
       'Danish|Arabic|English', 'English|Mandarin|Thai|Japanese',
       'Tamil|Telugu|Hindi', 'English|Turkish|Greek|Russian',
       'Russian|French|German|English',
       'Mandarin|Bengali|Hindi|Spanish|English',
       'Cantonese|Mandarin|English', 'German|Russian',
       'English|Cantonese|Spanish|Russian', 'Italian|French|German',
       'Hebrew|English', 'French|English|German|Italian',
       'English|Yiddish', 'Persian|English', 'Malayalam|Tamil|Telugu',
       'English|Hindi|Sanskrit', 'English|Spanish|French',
       'English|Spanish|Italian', 'Mandarin|Hindi|English',
       'Catalan|English|Spanish|Japanese',
       'English|French|German|Serbian', 'English|Spanish|German',
       'English|Greek',
       'English|Persian|German|French|Hebrew|Arabic|Russian',
       'English|French|Arabic|German|Dutch', 'English|Urdu|Hindi',
       'Hindi|Tamil|English|Marathi',
       'Dutch|English|Spanish|Italian|German', 'French|Sign Languages',
       'English|French|Albanian|Spanish|Hungarian', 'English|Romanian',
       'Hindi|Urdu', 'English|Polish|German|Arabic|Egyptian (Ancient)',
       'French|Spanish|German', 'Korean|German|English|Japanese',
       'Romanian|Turkish|Romany', 'Chinese|Mandarin|Cantonese|English',
       'Hungarian|English', 'English|French|Czech',
       'English|Chinese|Arabic', 'English|Saami', 'English|Aboriginal',
       'Tibetan', 'English|Italian|Arabic', 'Hindi|Tamil',
       'Portuguese|English|French|German|Mandarin', 'English|Sioux',
       'English|French|German|Arabic',
       'English|German|French|Hebrew|Arabic', 'German|French|English',
       'Danish|Swedish|English|Arabic', 'German|Danish|English',
       'French|Arabic|Bambara|English|Songhay|Tamashek',
       'Hebrew|French|English', 'English|Tamil|Hindi',
       'Spanish|Catalan|French', 'Arabic|Hebrew',
       'French|English|Portuguese|Russian|Serbian|Arabic',
       'English|Hungarian|Chinese|Greek, Ancient (to 1453)|Hindi|Nepali|Portuguese|Arabic',
       'German|English|Yiddish|Spanish',
       'English|American Sign Language|Indonesian',
       'Hindi|English|French', 'Danish|English|Polish',
       'English|Spanish|Cantonese', 'Chinese', 'Hebrew|German|English',
       'English|Arabic|French', 'English|Japanese|Ukrainian',
       'English|Japanese|Hebrew|Portuguese|French|Arabic|Filipino|German',
       'French|English|Spanish|Chinese|Yiddish', 'English|French|Hindi',
       'English|Klingon', 'Mandarin|Tibetan', 'English|Russian|French',
       'Norwegian', 'Hindi|Malayalam|Arabic',
       'English|Persian|Greek|Arabic',
       'Hungarian|Yiddish|German|Russian|Polish|French|Greek|Slovak|Hebrew',
       'Kazakh|English', 'English|German|Xhosa|Russian|Romanian|Hindi',
       'English|Russian|German|Italian', 'French|Russian|Hebrew',
       'English|German|Spanish|Serbian', 'English|French|Welsh',
       'Tamil|French|English', 'Maya|Spanish',
       'Finnish|English|Arabic|Swedish|Japanese',
       'Hindi|English|French|Tamil|Telugu', 'French|English|Portuguese',
       'Swedish|English|French|Norwegian', 'English|Japanese|Vietnamese',
       'Telugu|Hindi', 'English|Russian|French|Lithuanian|German',
       'English|French|Turkish|Hebrew|Arabic|Spanish',
       'English|French|Japanese', 'Italian|French',
       'Filipino|English|Russian|Indonesian',
       'English|French|Italian|German',
       'English|Russian|French|Persian|Korean',
       'English|Korean|French|Japanese|Czech|German', 'Dutch',
       'English|Russian|Italian|French', 'English|Polynesian',
       'Portuguese|English', 'English|Mandarin|Japanese|German',
       'Bosnian|Serbian|Croatian|English', 'English|German|Italian',
       'English|Russian|Spanish', 'English|Burmese',
       'English|Russian|Hindi', 'Serbian',
       'English|Turkish|Shanghainese|Portuguese|Japanese',
       'Hindi|Telugu|Tamil', 'English|Urdu|Arabic',
       'English|Arabic|Albanian|Romanian', 'English|Persian|Spanish',
       'English|Mandarin|Shanghainese',
       'English|Welsh|Italian|Latin|Russian|Hungarian',
       'German|English|French|Hebrew|Latin', 'Tamil|Malayalam',
       'Arabic|English', 'Telugu|Tamil|Hindi',
       'English|Spanish|French|Swahili|German', 'Telugu|Malayalam|Hindi',
       'English|Mandarin|Russian', 'Flemish|English|Dutch',
       'Russian|German|Japanese', 'English|Greenlandic',
       'English|Japanese|Spanish', 'Indonesian|Japanese|English',
       'Spanish|French|Polish', 'English|Spanish|Russian|Italian',
       'English|Greek, Ancient (to 1453)', 'Spanish|Hebrew|Yiddish',
       'English|Spanish|Norwegian|French|Korean|Greek|Vietnamese',
       'English|Japanese|Cantonese|Mandarin',
       'Cantonese|English|Mandarin', 'English|Latin', 'German|Turkish',
       'Southern Sotho', 'English|Dari', 'Swedish',
       'English|Italian|French|Latin', 'Ukrainian|Sign Languages',
       'English|Gujarati', 'Hindi|Urdu|English', 'English|Arabic|Swedish',
       'Hebrew|Yiddish', 'English|Russian|Mandarin',
       'English|Ukrainian|Russian', 'English|Navajo|Mandarin',
       'English|Arabic|Spanish|German',
       'English|Cantonese|Russian|Hindi|Spanish', 'English|Serbian',
       'English|Hindi|Japanese', 'Arabic|French', 'English|Indonesian',
       'English|Pushto|Arabic', 'English|Korean|Icelandic|Russian',
       'English|Persian|Arabic', 'English|French|Spanish|German',
       'English|Norwegian|Danish', 'English|Indonesian|French',
       'Korean|Cantonese|English|Mandarin|Japanese',
       'English|Hungarian|Polish|French', 'English|Romanian|Spanish',
       'English|Turkish', 'English|Swahili|Nama|Xhosa|Korean',
       'English|Hebrew|Arabic',
       'Korean|German|Japanese|Mandarin|Russian|English',
       'Norwegian|English|French|Swedish', 'English|Somali',
       'Flemish|French|Dutch',
       'Italian|German|Latin|English|Spanish|Polish|French',
       'Hebrew|Arabic', 'English|Spanish|French|Afrikaans|Ukrainian',
       'English|Russian|French|Arabic|Swedish', 'Chinese|Russian|English',
       'Swedish|Serbian|Spanish|English|German',
       'English|Mandarin|Spanish', 'Hindi|Japanese|Spanish|English',
       'Mandarin|Japanese|French|Russian|English',
       'Portuguese|German|English',
       'English|French|Spanish|Ladino|Hebrew|Italian|Portuguese|Latin',
       'Catalan|French|Spanish|English',
       'English|Mandarin|Swiss German|Cantonese|Russian', 'English|Thai',
       'French|Italian', 'French|Dutch', 'English|Spanish|Latin',
       'Dutch|German|French|English', 'English|French|German|Spanish',
       'English|Irish|Russian|Icelandic',
       'Armenian|Arabic|Turkish|Kurdish|Spanish|English', 'English|Akan',
       'English|Ukrainian|Spanish', 'Spanish|French',
       'Cantonese|English|Hindi|Mandarin', 'English|Ibo',
       'English|Russian|French|Japanese|Italian|Dutch|Spanish',
       'English|Spanish|Ukrainian', 'English|Thai|Swedish',
       'English|Italian|French', 'Hindi|Punjabi',
       'English|French|Scottish Gaelic', 'English|Russian|Polish',
       'English|Spanish|Russian', 'Spanish|Tupi|French',
       'Russian|English|German', 'Albanian', 'French|Chinese',
       'Mandarin|Cantonese', 'French|English|Japanese',
       'English|Romany|Romanian|Ukrainian', 'English|Latin|Irish',
       'English|Italian|Japanese',
       'English|French|Romanian|Dutch|Mandarin',
       'English|Polish|Cantonese|Italian', 'Greek|Albanian|Italian',
       'English|Spanish|Flemish', 'English|Pushto|Somali|Dari|Arabic',
       'English|Icelandic|Swahili|Arabic',
       'English|Spanish|Arabic|Polish|Turkish|Russian|Italian|Persian',
       'English|Spanish|Urdu|Russian',
       'Hindi|English|Urdu|Persian|Kurdish',
       'Mandarin|Cantonese|English|Arabic|Malay',
       'English|Spanish|Portuguese|Mandarin|Tagalog|Russian',
       'Norwegian|Swedish|Saami', 'Albanian|Italian',
       'French|German|English|Italian|Russian|Spanish|Latin|Arabic|Bambara|Hebrew|Greek',
       'English|Tamil|Sanskrit', 'French|Italian|Romanian|Arabic',
       'German|Norwegian|English|Russian|Danish', 'Spanish|German|Hebrew',
       'Georgian', 'French|Russian|English',
       'English|Thai|Arabic|Spanish',
       'English|German|French|Spanish|Russian', 'Marathi',
       'English|Bulgarian|Scots', 'Korean|English|Spanish',
       'English|Acholi', 'Thai|English', 'French|Italian|English|Arabic',
       'English|Portuguese|Tupi|Spanish|German',
       'English|French|German|Swiss German',
       'English|Mandarin|French|Spanish|Russian',
       'Hindi|English|Tamil|Telugu|Arabic', 'English|French|Russian',
       'English|Italian|German', 'English|Spanish|Hebrew|Arabic',
       'Japanese|German|Italian|French', 'English|Afrikaans|Xhosa',
       'English|Arabic|French|Spanish',
       'Portuguese|English|Mandarin|Mirandese|Latin',
       'Spanish|Portuguese', 'Danish|Swedish|English|Japanese|Somali',
       'Hebrew|English|Romanian|French', 'Hebrew|Arabic|French',
       'English|French|Khmer', 'Korean|Mandarin',
       'Norwegian|Swedish|Danish|English|Serbian|German',
       'English|French|German|Italian|Arabic|Spanish', 'Slovak',
       'English|Italian|German|French', 'German|Arabic',
       'English|German|French|Italian', 'English|Hindi|Spanish',
       'Italian|Japanese|Spanish|Chinese',
       'English|French|German|Spanish|Hawaiian|Japanese|Italian|Hebrew',
       'Russian|English', 'English|Hebrew|Mandarin', 'English|Lithuanian',
       'Hindi|English|Russian', 'English|Hebrew|Vietnamese',
       'English|Tagalog|Cantonese|Mandarin|Spanish',
       'English|French|Italian|German|Romany',
       'English|Spanish|Japanese|French',
       'English|French|Spanish|Italian|Sign Languages|Russian',
       'English|Cantonese|Ukrainian', 'Thai',
       'Hindi|Marathi|Gujarati|Tulu|English',
       'Mandarin|English|Mongolian', 'English|Arabic|Mandarin',
       'English|Danish|Spanish', 'English|Vietnamese|French',
       'English|Low German', 'English|North American Indian|Spanish',
       'French|Lingala', 'Hindi|English|German',
       'English|German|Japanese|Serbian', 'English|Aramaic',
       'English|Mandarin|Portuguese|French',
       'English|Spanish|Arabic|Hindi',
       'English|Spanish|Russian|Japanese|Cantonese|Dutch',
       'English|Polish|Latin',
       'Mandarin|Cantonese|Japanese|English|French|German',
       'Italian|French|English', 'English|Japanese|Hokkien|Mandarin',
       'German|Bulgarian|English',
       'German|French|English|Spanish|Croatian|Italian|Portuguese|Russian|Korean',
       'English|German|Turkish|Arabic', 'French|English|Polish',
       'English|Italian|Spanish', 'Filipino|Tagalog|English',
       'French|English|Arabic|Slovak', 'English|German|Arabic|Urdu',
       'English|German|Hungarian|Romanian',
       'English|Japanese|Italian|French', 'English|French|Arabic|Turkish',
       'English|Spanish|Icelandic', 'English|French|Mandarin|German',
       'English|German|Arabic|French|Portuguese|Russian|Slovak',
       'English|Greek|French', 'English|Maori',
       'English|Italian|Ukrainian', 'English|Portuguese|French|Japanese',
       'Hindi|Gujarati|Punjabi|English', 'Tibetan|English',
       'Polish|Latin|French', 'English|Australian Sign Language',
       'Amharic', 'English|Vietnamese|Khmer',
       'English|Spanish|Japanese|German|French|Korean', 'Tagalog',
       'French|English|Spanish|Japanese|Arabic|Mandarin',
       'English|Arabic|Hebrew', 'Danish|Thai|English',
       'Hindi|Marathi|English', 'Norwegian|Danish|Russian|English',
       'English|Sanskrit', 'Spanish|German', 'Greek|English',
       'Hindi|Tamil|Telugu|Chinese|English',
       'English|German|Italian|French|Spanish',
       'English|French|Thai|Khmer', 'Thai|French|Lao',
       'English|Italian|Japanese|German|Spanish|Indonesian|Balinese|Portuguese|Ukrainian|Vietnamese|Catalan|Dutch|Bengali|Masai|Hindi|Arabic|Quechua|Russian',
       'English|German|Russian|Swedish', 'English|Spanish|Bulgarian',
       'English|Russian|Chinese', 'English|Italian|Mandarin',
       'English|Romanian|Russian|Serbian', 'French|Finnish|English',
       'English|French|Scottish Gaelic|Latin', 'Japanese|English|French',
       'English|Norwegian|French', 'English|Hindi|Urdu', 'Cantonese',
       'Tamil|Tulu|English', 'English|Spanish|Dutch', 'English|Norwegian',
       'Catalan', 'English|French|Italian|Greek, Ancient (to 1453)',
       'Italian|Neapolitan|English|Latin', 'English|Japanese|Filipino',
       'Dutch|English', 'Mandarin|English|Japanese|Shanghainese',
       'English|Tamil|French|Japanese|Hindi|Chinese', 'Romanian|English',
       'English|German|Ukrainian', 'French|Arabic|English|Hebrew',
       'Russian|German', 'English|Georgian|Spanish',
       'German|English|Swahili', 'English|Spanish|Latin|Italian',
       'English|Japanese|Spanish|German', 'Spanish|French|English',
       'French|Serbian|English', 'English|Spanish|Chinese',
       'English|Spanish|Hungarian', 'Hindi|Gujarati',
       'English|Portuguese|Italian',
       'English|French|Italian|Russian|Spanish',
       'English|Persian|Ukrainian', 'English|Swedish|German',
       'English|Lingala|French', 'Hindi|English|Marathi|Tamil',
       'Mandarin|Spanish', 'Hindi|Punjabi|Marathi|English',

In [304]:
languages_split = df.Language.str.split(pat="|")
df['num_languages'] = languages_split.str.len()

In [305]:
# inspect
df.tail(3)

,Name,num_ratings,avg_rating,genre,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,...,Production_House,viewCount,likeCount,dislikeCount,commentCount,Afinn Pre Release,Afinn Post Release,Release date,Holiday,num_languages
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
1482393,Beverly Hills Chihuahua 2,2901,4.4,"[Adventure, Comedy, Family]",G,1 February 2011 Video,1h 25min,9.0,20.0,"63,500,000",...,"Walt Disney Pictures, CounterPunch Studios, M...",0,0,0,0,0.0,0.0,2011-02-01,0,1
2483260,The Pirate Fairy,11127,6.7,"[Animation, Adventure, Family, Fantasy]",G,13 February 2014 Video,1h 18min,25.0,66.0,"67,400,000",...,"Prana Studios, Disneytoon Studios",0,0,0,0,0.0,0.0,2014-02-13,0,1
1216515,Tinker Bell and the Great Fairy Rescue,6664,7.0,"[Animation, Adventure, Family, Fantasy]",G,21 September 2010 Video,1h 16min,17.0,30.0,"10,872,752",...,Disneytoon Studios,0,0,0,0,0.0,0.0,2010-09-21,0,1

In [306]:
# check NaN
df['num_languages'].isnull().values.any()

False

### 3. Truncate 'Languages' and 'Country'

In [307]:
# inspect unique values
df.Country.unique()

array(['Japan', 'South Korea|Japan|Finland', 'France', 'Poland',
       'Israel|Canada', 'USA', 'UK', 'Canada', 'Hong Kong|China',
       'Mexico', 'Israel|USA', 'South Korea', 'Spain', 'France|Poland',
       'Chile|Argentina|France|Spain|USA', 'Romania|France|Belgium',
       'Italy|France',
       'Germany|Austria|Monaco|Romania|France|Switzerland',
       'UK|France|Belgium',
       'France|Belgium|Japan|Poland|Netherlands|Hungary|UK|Germany|China|Thailand|Italy|Denmark|USA',
       'USA|China', 'South Korea|USA', 'UK|USA', 'India',
       'USA|Hong Kong|China|Canada', 'USA|Japan', 'France|USA',
       'USA|Sweden', 'Canada|USA', 'Ireland|Canada|UK|USA',
       'UK|India|USA', 'USA|China|Hong Kong', 'France|Belgium',
       'Israel|France|Germany', 'UK|India|Sweden', 'China', 'USA|UK',
       'Australia', 'USA|Spain', 'Denmark', 'France|Portugal',
       'Belgium|France|Luxembourg', 'China|Japan|France', 'UK|France|USA',
       'Germany|UK', 'USA|Canada|New Zealand', 'Israel|Germany|France',
       'Iran|France', 'Mexico|France', 'China|USA', 'USA|UK|Bulgaria',
       'Germany', 'Argentina|Spain', 'USA|France', 'Mexico|Germany',
       'Belgium|France|Italy', 'Estonia|Georgia', 'Japan|UK|South Korea',
       'USA|Hungary', 'Chile|Mexico', 'Italy|Belgium',
       'USA|Greece|Brazil', 'Norway', 'Japan|USA',
       'USA|Canada|France|UK|India', 'Lithuania|France|Netherlands',
       'Finland|Sweden|Denmark|Germany|Iceland|USA', 'USA|Japan|Colombia',
       'Australia|USA', 'Ireland|UK|USA', 'France|China|Canada',
       'Brazil|France',
       'Italy|France|Brazil|USA|Netherlands|Germany|Thailand',
       'China|India|Nepal|Hong Kong', 'Switzerland|France|Belgium|USA',
       'Canada|UK|USA', 'USA|United Arab Emirates',
       'USA|France|UK|Hong Kong|Taiwan|Malta', 'USA|Taiwan|China',
       'Switzerland|USA', 'France|Czech Republic|Belgium',
       'USA|Denmark|Australia', 'Spain|France', 'India|USA',
       'Japan|France', 'Finland', 'Spain|UK|Colombia|France|USA',
       'Russia', 'UK|Bulgaria|USA', 'Canada|Germany|France',
       'China|Hong Kong', 'UK|Russia|Ukraine|USA', 'France|USA|UK',
       'China|Canada|USA', 'UK|USA|France|Hungary|Netherlands',
       'Canada|New Zealand|USA', 'UK|Australia|USA',
       'Denmark|Sweden|Netherlands', 'Germany|Argentina|Italy',
       'Ireland|France', 'USA|Ecuador|Germany|Norway',
       'UK|Jordan|Qatar|Iran', 'France|Lebanon|Egypt|Italy',
       'Thailand|USA', 'China|Malaysia|USA',
       'Switzerland|Holy See (Vatican City State)|Italy|Germany|France',
       'Lebanon|France|USA', 'Spain|Mexico|France',
       'Norway|France|Denmark|Sweden', 'USA|Hong Kong|China',
       'France|Germany|USA|UK', 'USA|Latvia', 'Portugal|France',
       'UK|France|Belgium|Canada|USA', 'UK|Canada|USA', 'Nigeria|USA',
       'USA|Hong Kong', 'USA|Germany', 'Belgium|France',
       'Canada|Mexico|Germany|South Africa', 'New Zealand',
       'USA|Iceland|France', 'Denmark|USA', 'Germany|USA',
       'France|Germany', 'Colombia|Venezuela|Argentina',
       'Canada|United Arab Emirates|USA', 'Poland|UK|France',
       'China|USA|Japan', 'USA|China|Canada', 'UK|France',
       'Russia|USA|China', 'Ireland|UK|Greece|France|Netherlands',
       'UK|Japan|USA', 'Italy|France|Germany', 'South Africa|USA',
       'Canada|USA|UK', 'Turkey|France|Germany|Qatar', 'Brazil',
       'USA|South Korea', 'Hong Kong|USA',
       'USA|Italy|Germany|France|Cyprus', 'Afghanistan|France|Germany|UK',
       'UK|Luxembourg|USA|Ireland', 'Israel|France',
       'Sweden|Germany|Norway|France|Denmark',
       'Austria|Luxembourg|Germany', 'Egypt|France',
       'Taiwan|China|Hong Kong|France', 'Ireland|France|Netherlands',
       'USA|Chile', 'UK|Ireland|France', 'Germany|France',
       'Spain|France|Italy', 'Sweden|Denmark|Finland', 'China|France',
       'France|UK|Czech Republic', 'Belgium|UK|France', 'Turkey|USA',
       'USA|China|Japan', 'Denmark|Sweden|Italy|France|Germany',
       'Australia|Vanuatu',
       'Denmark|Indonesia|Finland|Norway|UK|Israel|France|USA|Germany|Netherlands',
       'United Arab Emirates|USA',
       'Poland|UK|USA|Switzerland|Netherlands', 'USA|Canada',
       'USA|China|France|Norway', 'France|Belgium|Italy', 'USA|Greece',
       'USA|Ukraine', 'Philippines',
       'UK|South Africa|United Arab Emirates', 'USA|UK|France',
       'Sweden|Germany|France|Denmark', 'France|Germany|Belgium',
       'UK|Sweden|USA', 'Iran',
       'Czech Republic|Russia|Germany|Latvia|North Korea',
       'France|Germany|Czech Republic|Belgium', 'USA|Germany|UK',
       'UK|New Zealand', 'Israel', 'Czech Republic|UK|USA|France',
       'United Arab Emirates|Qatar|Jordan|UK', 'USA|Brazil',
       'France|Malta|USA', 'Israel|Germany', 'France|Japan',
       'Italy|France|UK|Switzerland', 'Australia|France',
       'Sweden|Russia|UK|France|Spain|Germany', 'France|Canada',
       'Poland|Israel', 'Sweden|Denmark|Germany', 'Spain|France|Belgium',
       'France|Cyprus|Belgium|Lebanon|USA', 'Argentina|USA',
       'South Korea|Canada', 'France|Austria|Germany', 'Iceland|USA',
       'Hungary|France|Switzerland|Germany|USA', 'France|Switzerland',
       'Ireland|Canada', 'Spain|USA|Malaysia', 'USA|Belgium|UK', 'Chile',
       'Italy', 'UK|Germany', 'Puerto Rico|USA', 'Sweden|USA',
       'USA|Russia', 'Spain|USA', 'Chile|Argentina|Portugal|France',
       'New Zealand|USA', 'USA|Canada|Mexico|Puerto Rico', 'UK|China',
       'Sweden', 'Austria|Germany', 'Denmark|Syria',
       'Iceland|Denmark|Norway|Poland', 'Portugal|France|Poland|USA',
       'UK|Spain|Germany', 'USA|Hong Kong|Canada', 'Ireland|UK',
       'Ukraine|USA', 'Canada|USA|Spain|South Korea',
       'UK|France|Germany|Mexico|USA', 'Mexico|USA',
       'Ireland|UK|France|Canada|USA', 'China|Hong Kong|USA', 'Italy|USA',
       'Iceland|Germany|Norway', 'France|Poland|UK',
       'UK|Netherlands|France|USA', 'Singapore|Japan|Taiwan|France',
       'USA|Mexico|Germany', 'Denmark|Sweden|Czech Republic|Germany',
       'Russia|France|Germany|Belgium', 'USA|Ghana', 'Denmark|France',
       'Germany|Austria', 'France|Belgium|Luxembourg',
       'France|Germany|Netherlands',
       'USA|Hong Kong|Japan|Mexico|Canada|New Zealand', 'USA|Australia',
       'Japan|France|Germany', 'Canada|South Korea|USA|China',
       'Italy|France|UK', 'Germany|Italy', 'USA|Denmark',
       'Italy|Switzerland|Germany', 'France|Spain',
       'Chile|Germany|Spain|USA', 'Belgium|Luxembourg|France',
       'UK|USA|India', 'Hong Kong|Canada|USA', 'USA|Dominican Republic',
       'Israel|Switzerland|Germany|France', 'France|Belgium|China|USA',
       'Ireland|Canada|Luxembourg|USA', 'Spain|Ireland|France',
       'USA|France|Serbia', 'USA|Austria|Canada|South Africa|Spain',
       'Japan|UK', 'UK|Austria|Poland|Ukraine', 'Spain|Bulgaria',
       'USA|Cambodia', 'USA|Mexico', 'Canada|USA|Madagascar',
       'Hong Kong|Iceland|USA', 'Netherlands', 'USA|Switzerland',
       'France|Myanmar', 'France|Belgium|Canada',
       'Romania|Bulgaria|Czech Republic|France', 'USA|UK|Australia',
       'China|France|Japan', 'Romania|USA', 'Hungary|Germany|Sweden',
       'Poland|UK', 'USA|Italy|UK', 'Portugal|France|Germany|Switzerland',
       'UK|China|USA', 'Israel|Palestine|USA', 'Denmark|Sweden',
       'Belgium|France|USA', 'Malta|Morocco|USA', 'Argentina|Brazil',
       'Denmark|Germany', 'Canada|India', 'Mauritania|France',
       'USA|South Africa', 'Romania|USA|Ukraine', 'Iran|Canada|Qatar',
       'Hong Kong', 'Israel|Germany|USA', 'USA|China|Germany',
       'UK|USA|Dominican Republic', 'Denmark|Russia',
       'Czech Republic|Spain|USA', 'Ireland',
       'Mexico|Denmark|France|Germany|Norway|Switzerland',
       'Germany|USA|China|Palestine', 'Russia|USA', 'Cambodia|France',
       'USA|New Zealand|Canada|Israel|Japan', 'France|Canada|Belgium',
       'United Arab Emirates', 'France|USA|Belgium',
       'UK|Namibia|South Africa|Zimbabwe|USA',
       'USA|India|United Arab Emirates', 'Ireland|Spain',
       'France|China|Belgium|Monaco',
       'Norway|Denmark|Sweden|Ireland|Hungary', 'USA|Indonesia',
       'Hungary', 'UK|Mongolia|USA', 'USA|Australia|China',
       'Canada|Germany|France|USA', 'UK|Spain|USA', 'Guatemala|France',
       'USA|UK|Canada', 'Finland|Germany', 'Austria',
       'France|Brazil|Italy', 'Sweden|France|Norway|Denmark',
       'Argentina|Chile', 'USA|India',
       'Iceland|Poland|Denmark|Germany|France', 'Ireland|Luxembourg',
       'Spain|Canada|USA', 'France|Spain|Romania|Belgium|USA',
       'USA|UK|Qatar', 'USA|France|Canada', 'South Korea|Czech Republic',
       'USA|Italy', 'USA|India|Canada', 'Czech Republic|France|USA',
       'UK|Brazil|Germany', 'Spain|France|Bolivia|UK', 'Georgia|USA',
       'France|UK', 'UK|USA|France', 'France|Belgium|Spain',
       'Serbia|Slovenia|Croatia|France|Republic of Macedonia|UK',
       'USA|Canada|India', 'USA|Chile|Canada|Spain', 'USA|Belgium|Canada',
       'UK|USA|Kenya', 'Japan|USA|France', 'USA|Congo',
       'USA|Denmark|France|Germany|UK', 'France|Belgium|Ireland',
       'Lebanon|France|Qatar|Belgium', 'Canada|Spain|France',
       'Ireland|Denmark|Belgium|Luxembourg|France', 'UK|USA|Australia',
       'USA|Hungary|Italy', 'Romania|France', 'UK|Canada',
       'Germany|Luxembourg|France|Israel', 'UK|Egypt|USA',
       'USA|Brazil|UK', 'USA|Australia|UK', 'France|Angola|USA',
       'USA|New Zealand|UK', 'Belgium|Netherlands', 'UK|USA|Ireland',
       'Germany|France|USA|Canada|UK', 'Indonesia|USA',
       'France|Australia|Germany|Italy', 'Chile|Argentina|Brazil',
       'Argentina', 'USA|Norway', 'UK|France|Spain|USA',
       'South Africa|Germany', 'China|South Korea|Singapore',
       'Sweden|Denmark', 'UK|Italy|Switzerland',
       'UK|Belgium|Italy|Germany', 'Ukraine|Netherlands',
       'USA|New Zealand', 'USA|Ireland', 'India|USA|United Arab Emirates',
       'UK|USA|Russia', 'UK|Vietnam', 'Canada|Denmark',
       'Switzerland|UK|USA', 'USA|Canada|Australia',
       'Netherlands|Denmark|France|Germany|USA',
       'USA|UK|France|Germany|Japan', 'USA|UK|Canada|Japan',
       'France|Belgium|Tunisia|Morocco', 'USA|Canada|Indonesia',
       'Spain|Cuba', 'UK|India', 'USA|UK|France|Germany',
       'Switzerland|UK|Australia', 'USA|India|UK|France|Philippines',
       'Canada|South Korea|USA', 'France|Austria', 'Spain|USA|France',
       'UK|USA|Sweden', 'Germany|Canada|USA|France|UK', 'UK|Sweden',
       'Germany|Canada|UK|South Africa|USA',
       'USA|France|Bulgaria|Germany', 'UK|USA|Germany',
       'Canada|South Africa', 'Canada|France',
       'Brazil|Uruguay|Netherlands', 'USA|United Arab Emirates|UK',
       'UK|Denmark|USA', 'UK|Norway|Denmark|Germany|Sweden', 'Belgium',
       'USA|Belgium|Bulgaria',
       'USA|United Arab Emirates|Czech Republic|Russia|India|Canada',
       'Sweden|Germany|Denmark|France', 'UK|USA|Canada',
       'Denmark|Sweden|France|Germany', 'USA|Bulgaria',
       'UK|Canada|Sweden', 'Brazil|Germany',
       'Germany|Netherlands|Belarus|Russia|Latvia',
       'USA|Brazil|France|Mexico|Switzerland', 'Belgium|USA',
       'UK|Germany|Austria', 'USA|Australia|Mexico', 'USA|France|UK',
       'USA|France|China|UK', 'Czech Republic|UK|USA|Russia',
       'Thailand|Canada|USA', 'USA|India|France',
       'USA|New Zealand|South Africa|UK|Lithuania',
       'USA|Netherlands|UK|Denmark', 'UK|Ireland',
       'UK|Ireland|France|USA', 'Taiwan|China', 'Turkey',
       'USA|France|Chile|Hong Kong|Germany', 'UK|Denmark', 'Italy|Canada',
       'Portugal|Spain|France|Brazil',
       'Saudi Arabia|Netherlands|Germany|Jordan|United Arab Emirates|USA',
       'USA|Canada|UK',
       'Germany|France|Italy|Russia|Poland|Canada|Turkey|Jordan',
       'USA|Netherlands|France|Chad|Rwanda', 'Mexico|Argentina|USA',
       'Germany|USA|France', 'France|Italy',
       'USA|Hong Kong|Bulgaria|Netherlands',
       'Germany|USA|Hong Kong|Singapore|China', 'Canada|Spain',
       'Australia|China|France|UK|Hong Kong',
       'USA|United Arab Emirates|Poland|India', 'USA|Colombia',
       'Argentina|Spain|France', 'Indonesia|France|USA',
       'UK|USA|United Arab Emirates', 'France|Italy|Belgium|Iran',
       'France|Canada|USA', 'Ireland|USA', 'Romania',
       'USA|Albania|Denmark|Italy|UK', 'USA|Botswana',
       'UK|Canada|Ireland|Belgium', 'USA|China|Italy',
       'Greece|France|Belgium',
       'Netherlands|Belgium|Finland|Mexico|France', 'Poland|Sweden',
       'UK|Belgium', 'France|Germany|Poland|Spain|USA',
       'Norway|Ireland|Sweden', 'USA|India|Belgium',
       'USA|Switzerland|France', 'USA|UK|Japan|Hungary',
       'Austria|Switzerland', 'UK|New Zealand|USA|India',
       'Ireland|Sweden',
       'Italy|Switzerland|Germany|Albania|Kosovo|France',
       'Switzerland|France', 'Spain|UK', 'Chile|USA', 'Germany|Norway',
       'UK|Denmark|Canada|Croatia', 'Argentina|Spain|Norway|France',
       'Georgia|Germany|France', 'Hungary|Germany|Austria|France',
       'UK|USA|Japan', 'USA|China|Japan|Canada|United Arab Emirates',
       'New Zealand|South Korea',
       'USA|Germany|France|Canada|South Africa|Australia|UK|Japan',
       'Venezuela', 'France|Spain|Belgium|Panama', 'UK|Hungary',
       'India|France', 'France|Belgium|Germany', 'USA|Spain|Italy|Canada',
       'USA|Iran|France', 'Norway|France|Denmark|USA', 'Germany|Tanzania',
       'Thailand|UK|Germany|France|Malaysia|South Korea|Mexico|USA|Norway',
       'Italy|France|USA|Germany|Qatar', 'France|India|Canada|USA',
       'Venezuela|Mexico', 'USA|Germany|Canada|France', 'Tanzania|USA',
       'Mexico|Netherlands', 'France|Germany|Switzerland',
       'USA|UK|Germany', 'Italy|Luxembourg|France|Belgium',
       'Canada|Germany|USA', 'Canada|China|Finland|Japan|UK',
       'France|China|Belgium|Germany|United Arab Emirates|USA',
       'USA|UK|Malta', 'Bahamas|USA', 'UK|South Africa|France',
       'France|Germany|UK', 'Italy|Switzerland|France',
       'USA|UK|Spain|South Korea', 'UK|Australia',
       'Portugal|France|Brazil', 'Denmark|France|USA|UK',
       'Argentina|Spain|Brazil', 'Germany|Australia|UK',
       'USA|Italy|Spain', 'UK|South Africa|USA|India',
       'Israel|Germany|France|Romania', 'France|Israel|Canada',
       'Palestine|Israel|France|Netherlands', 'USA|Netherlands|UK',
       'USA|Cambodia|France', 'Germany|UK|Israel',
       'UK|China|Canada|Indonesia|Singapore|USA',
       'UK|France|USA|Luxembourg', 'Jordan|Qatar|USA',
       'South Africa|Canada|USA', 'USA|Iran|Germany',
       'Norway|Denmark|Sweden', 'Brazil|UK',
       'USA|China|United Arab Emirates|Canada', 'Slovakia|Czech Republic',
       'Canada|USA|Ireland', 'Austria|Germany|France', 'Nigeria|UK',
       'USA|Spain|France|UK', 'USA|Lithuania',
       'UK|United Arab Emirates|Romania|Morocco',
       'Denmark|France|USA|Sweden|Belgium', 'USA|Germany|Canada|UK',
       'South Korea|USA|Hong Kong', 'Austria|France|Germany', 'Thailand',
       'UK|Germany|Canada|Switzerland|USA', 'UK|China|Japan|USA',
       'Denmark|UK|South Africa|Sweden|Belgium', 'Norway|USA',
       'USA|China|UK',
       'USA|Indonesia|Singapore|Thailand|Kenya|Denmark|Brazil|Jordan|United Arab Emirates|Saudi Arabia|South Africa|Italy|Ghana|Egypt|China|Japan|Ethiopia|South Korea|Namibia',
       'India|Germany',
       'Tunisia|France|Belgium|United Arab Emirates|Switzerland',
       'UK|Germany|China|USA', 'Spain|Canada|France',
       'France|USA|UK|Brazil|Canada|Argentina|Germany|Netherlands|Mexico',
       'USA|Japan|Spain|UK', 'Mexico|France|Netherlands|Germany',
       'Kenya|India|USA', 'Turkey|Bosnia and Herzegovina',
       'Australia|Singapore', 'Germany|Bulgaria|Austria',
       'Germany|France|UK', 'UK|Germany|France|USA', 'USA|UK|Russia',
       'France|Poland|Germany', 'Italy|France|Belgium',
       'Belgium|USA|UK|Germany', 'Venezuela|Spain', 'Thailand|France',
       'Spain|Argentina', 'UK|USA|Iceland', 'Sweden|UK|Finland',
       'Romania|Hungary|Canada|USA', 'USA|Canada|Singapore|Hong Kong',
       'Panama|USA', 'Sweden|France', 'Denmark|Germany|Belgium|UK|France',
       'Denmark|Germany|Belgium|UK|France|Sweden',
       'UK|Germany|Greece|France', 'UK|Austria|France|Brazil|USA|Canada',
       'Canada|UK', 'Canada|France|Portugal|Italy', 'USA|Thailand',
       'Poland|Denmark|France|UK', 'South Africa', 'Ethiopia|USA',
       'Australia|Canada', 'USA|Spain|Hungary|Serbia', 'France|Monaco',
       'UK|Israel|France', 'USA|Argentina',
       'Norway|Sweden|Denmark|Germany',
       'UK|France|Germany|Switzerland|Luxembourg',
       'Romania|Sweden|Germany', 'USA|Germany|Saudi Arabia',
       'Finland|USA', 'Spain|Germany|France', 'Greece|UK',
       'USA|Germany|France|UK', 'UK|Germany|USA', 'USA|Poland',
       'China|Haiti|Hong Kong', 'UK|France|USA|Canada',
       'Thailand|UK|France|Germany|Spain|Netherlands',
       'Germany|Sweden|USA|Hungary', 'India|France|Germany|USA|Canada',
       'Canada|Germany', 'France|Netherlands|UK',
       'Greece|USA|France|Canada', 'France|UK|USA',
       'Iceland|Switzerland|USA', 'Italy|Germany|Switzerland',
       'UK|France|Sweden|Belgium', 'Norway|Sweden|UK',
       'Spain|Belgium|France',
       'Argentina|Brazil|Spain|Dominican Republic|France|Netherlands|Mexico|Switzerland|USA|Portugal|Lebanon',
       'Netherlands|Belgium|Denmark',
       'USA|China|Hong Kong|Australia|Canada', 'France|Belgium|USA',
       'Italy|France|Ireland', 'UK|Italy', 'USA|Taiwan|UK|Canada',
       'Romania|Germany', 'France|Belgium|Chad',
       'France|Luxembourg|Belgium', 'USA|UK|Belgium',
       'UK|Romania|France|USA', 'Serbia|Hungary|USA',
       'Finland|Norway|France|Sweden', 'USA|Australia|Spain',
       'China|Germany|USA|Austria|Italy|Canada',
       'Germany|Ukraine|Netherlands',
       'Israel|Germany|Poland|Luxembourg|Belgium|France|USA',
       'USA|UK|Italy|Japan', 'Germany|Ireland',
       'Norway|Germany|Sweden|France|Finland', 'USA|France|Italy|UK',
       'Russia|Ukraine|Czech Republic', 'USA|China|Hong Kong|Austria',
       'Hungary|USA', 'France|Israel|Italy|India|USA',
       'Czech Republic|UK|USA', 'USA|India|Hong Kong|China|UK',
       'Canada|China', 'Malta|USA', 'Canada|USA|France|Germany|UK',
       'USA|UK|Hungary|Israel', 'Argentina|Brazil|France',
       'Italy|Brazil|Germany|France|Sweden|USA', 'USA|UK|Canada|China',
       'Bolivia', 'Germany|Austria|Switzerland', 'USA|India|South Korea',
       'USA|Morocco', 'UK|Luxembourg', 'USA|Hong Kong|Taiwan',
       'USA|India|Ireland', 'Chile|France|Mexico|USA', 'USA|France|Japan',
       'UK|Spain|Belgium', 'Belarus|Russia', 'Belgium|France|Netherlands',
       'Mexico|Spain|USA', 'Chile|France', 'India|Austria',
       'Ireland|Australia', 'Poland|Germany|Canada', 'USA|Sweden|Norway',
       'Morocco|Sweden|Denmark|Germany|France',
       'USA|South Korea|Australia', 'Mexico|Spain', 'USA|UK|Afghanistan',
       'Netherlands|UK|Germany|Japan|Australia|USA', 'Chile|UK|France',
       'USA|UK|Hungary|Canada', 'Ireland|Germany', 'Canada|France|USA',
       'Denmark|Sweden|Greenland', 'Brazil|Argentina|France',
       'Canada|Spain|Japan',
       'USA|Sweden|Netherlands|Australia|Finland|Denmark',
       'Italy|Chile|Germany|Spain', 'UK|Germany|Sweden|Belgium|USA',
       'USA|Romania', 'Argentina|Chile|France|South Korea',
       'UK|USA|France|Sweden', 'Argentina|Spain|Germany', 'Austria|USA',
       'UK|Belgium|USA', 'USA|France|Canada|Belgium',
       'Qatar|France|Lebanon|Canada|USA', 'Sweden|Norway',
       'Ireland|France|UK|Romania',
       'UK|USA|Germany|Denmark|Belgium|Japan',
       'USA|Poland|Japan|Australia|Singapore',
       'Germany|Switzerland|Portugal', 'South Korea|France',
       'UK|Finland|Germany', 'Spain|UK|USA|France', 'USA|UK|Spain',
       'UK|Sweden|Denmark|Ireland',
       'The Democratic Republic Of Congo|France|Belgium',
       'France|USA|Iran', 'UK|France|Germany',
       'France|USA|Spain|UK|Germany', 'UK|Sweden|Canada|USA',
       'China|Japan|USA', 'Spain|USA|UK|France', 'UK|Denmark|Norway',

In [308]:

languages_split = df.Language.str.split(pat="|").apply(lambda x: x[0])
df['Language'] = languages_split

In [309]:
countries_split = df.Country.str.split(pat="|").apply(lambda x: x[0])
df['Country'] = countries_split

In [310]:
df.tail(3)

,Name,num_ratings,avg_rating,genre,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,...,Production_House,viewCount,likeCount,dislikeCount,commentCount,Afinn Pre Release,Afinn Post Release,Release date,Holiday,num_languages
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
1482393,Beverly Hills Chihuahua 2,2901,4.4,"[Adventure, Comedy, Family]",G,1 February 2011 Video,1h 25min,9.0,20.0,"63,500,000",...,"Walt Disney Pictures, CounterPunch Studios, M...",0,0,0,0,0.0,0.0,2011-02-01,0,1
2483260,The Pirate Fairy,11127,6.7,"[Animation, Adventure, Family, Fantasy]",G,13 February 2014 Video,1h 18min,25.0,66.0,"67,400,000",...,"Prana Studios, Disneytoon Studios",0,0,0,0,0.0,0.0,2014-02-13,0,1
1216515,Tinker Bell and the Great Fairy Rescue,6664,7.0,"[Animation, Adventure, Family, Fantasy]",G,21 September 2010 Video,1h 16min,17.0,30.0,"10,872,752",...,Disneytoon Studios,0,0,0,0,0.0,0.0,2010-09-21,0,1

In [311]:
# check both columns for NaN
print(df['Language'].isnull().values.any())
print(df['Country'].isnull().values.any())

False
False

In [312]:
# check how many unique values of each
print(len(df.Country.unique()))
print(len(df.Language.unique()))

77
61

### 4. Truncate 'Production_House'

In [313]:
# inspect unique values - 3697 of them, can't see all
df.Production_House.unique()

array([' East Japan Marketing & Communications Inc., GAME FREAK, Nintendo  ',
       ' Skhole Co., Wakamatsu Production  ',
       ' CreativeEAST, Dalpaengee, NHK  ', ...,
       ' Arte France, CB Films, Flach Film  ',
       ' Walt Disney Pictures, CounterPunch Studios, Motion Picture Corporation of America (MPCA)  ',
       ' Disneytoon Studios  '], dtype=object)

In [314]:
production_house_split = df.Production_House.str.split(pat=", ").apply(lambda x: x[0])
df['Production_House'] = production_house_split

In [315]:
# still could too unqiue of a column - 2277 unique values!
len(df.Production_House.unique())

2316

### 5. Check MPAA column and regroup
https://simple.m.wikipedia.org/wiki/Motion_Picture_Association_of_America_film_rating_system

#### **Reclassification:**
* TV-Y, TV-7, TV-G --> G
* TV-PG --> PG
* TV-14 --> PG-13
* TV-MA --> R
* Not Rated (923!) --> 
* Unrated (143) -->

In [316]:
# check NaN
df['motion_picture_rating'].isnull().values.any()

False

In [317]:
# what are the unique ratings, and how many in each category?
df.groupby('motion_picture_rating').size()

motion_picture_rating
G              39
M               1
NC-17           2
Not Rated     945
PG            362
PG-13         913
R            1420
TV-14          29
TV-G            4
TV-MA          34
TV-PG          11
TV-Y            1
TV-Y7           1
Unrated       147
dtype: int64

In [318]:
df.loc[df['motion_picture_rating'].isin(["TV-G", "TV-Y7", "TV-Y"]), 'motion_picture_rating'] = "G"
df.loc[df['motion_picture_rating'].isin(["TV-PG"]), 'motion_picture_rating'] = "PG"
df.loc[df['motion_picture_rating'].isin(["TV-14"]), 'motion_picture_rating'] = "PG-13"
df.loc[df['motion_picture_rating'].isin(["TV-MA"]), 'motion_picture_rating'] = "R"


df.loc[df['motion_picture_rating'].isin(["Unrated"]), 'motion_picture_rating'] = "PG" # mostly documentaries
df.loc[df['motion_picture_rating'].isin(["Not Rated"]), 'motion_picture_rating'] = "PG-13"

df.groupby('motion_picture_rating').size()

motion_picture_rating
G          45
M           1
NC-17       2
PG        520
PG-13    1887
R        1454
dtype: int64

In [319]:
df[df['motion_picture_rating'] == "Not Rated"]

Empty DataFrame
Columns: [Name, num_ratings, avg_rating, genre, motion_picture_rating, release_date, duration, num_user_ratings, num_critic_ratings, Gross, Country, Language, Production_House, viewCount, likeCount, dislikeCount, commentCount, Afinn Pre Release, Afinn Post Release, Release date , Holiday, num_languages]
Index: []

[0 rows x 22 columns]

In [320]:
df[df['motion_picture_rating'] == "Unrated"]

Empty DataFrame
Columns: [Name, num_ratings, avg_rating, genre, motion_picture_rating, release_date, duration, num_user_ratings, num_critic_ratings, Gross, Country, Language, Production_House, viewCount, likeCount, dislikeCount, commentCount, Afinn Pre Release, Afinn Post Release, Release date , Holiday, num_languages]
Index: []

[0 rows x 22 columns]

In [321]:
# check NaN after transforming
df['motion_picture_rating'].isnull().values.any()

False

### 6. Convert 'duration' column to time in minutes (integer)

In [322]:
def check_time(time):
    if len(time) == 1:
        if "h" in time[0]:
            new_time = 60*int(re.sub("\D", "", time[0]))
        else:
            new_time = int(re.sub("\D", "", time[0]))
    else:
        new_time = 60*int(re.sub("\D", "", time[0])) + int(re.sub("\D", "", time[1]))
    return new_time

test1 = df.duration.str.split(" ")
test2 = test1.apply(lambda x: check_time(x))

df['duration'] = test2

In [323]:
# check unique values
print(df.duration.unique())

[ 96  85  88  98  87  92 118  72 141 105 101  97 111 135  99 115 107 128
 119 116  76 103 162 100  91  80  93 156 155 112 110  94 108 129 123 132
  90  81 134 170 167 102 137 165 154 109 160 163 120 106 130  73  86 169
  95 127  89 140 104 114 113 158 176 122 121 124 117 125 173 131  71  84
 171 180 157 136 139 151 133  82  83 126 145 144 272 149 146  40 143 159
 148 201  79  78 161 152  75 153 138 147 164 142  70  68 172 166 188 187
  39 168  74 150  77 185 186 220 183  63  58  44  66 190 174 226  46  60
  69  59 334 270]

In [324]:
## check for NaNs after transforming
df['duration'].isnull().values.any()

False

### 7. Expanding 'genre' to one-hot columns

In [325]:
type(df['genre'].iloc[0]) # Need to convert string representation of list to an actual Python list to accumulate as et later

str

In [326]:
# check unique genre lists
unique_genre_lists = df['genre'].unique()
print(unique_genre_lists)

['[Animation, Action, Family, Fantasy, Sci-Fi]' '[Drama, War]'
 '[Documentary, Drama]'
 '[Animation, Adventure, Drama, Family, Fantasy, Sci-Fi]'
 '[Action, Comedy, Crime, Drama]'
 '[Animation, Action, Adventure, Family, Fantasy]'
 '[Action, Drama, Fantasy, Horror, Sci-Fi]'
 '[Comedy, Drama, Fantasy, Horror, Musical, Thriller]' 'Drama'
 '[Documentary, Biography, History]' 'Musical'
 '[Action, Biography, Crime, Drama, Family, Fantasy]'
 '[Action, Crime, Thriller]' '[Comedy, Romance]' 'Documentary'
 '[Crime, Drama, Thriller]' '[Drama, Thriller]' '[Action, Drama]'
 '[Drama, Mystery, Romance]' '[Drama, History]'
 '[Biography, Crime, Drama, History]' '[Crime, Drama]'
 '[Comedy, Drama, Family]' '[Comedy, Drama]'
 '[Documentary, Comedy, Drama, Family, Fantasy, Romance]'
 '[Drama, Horror]' '[Comedy, Drama, Romance]' '[Drama, Mystery]'
 '[Animation, Fantasy]' '[Action, Drama, Mystery, Thriller]' 'Horror'
 '[Comedy, Music]' '[Horror, Mystery, Thriller]'
 '[Biography, Drama, Sport]' '[Comedy, Crime]' '[Comedy, Crime, Thriller]'
 '[Action, Adventure, Comedy, Sci-Fi]' '[Drama, Romance]'
 '[Animation, Adventure, Comedy, Family, Fantasy, Romance, Sci-Fi]'
 '[Action, Horror, Sci-Fi, Thriller]'
 '[Action, Adventure, Comedy, Crime, Mystery, Thriller]'
 '[Action, Thriller]' 'Thriller' '[Action, Crime, Drama, Music, Thriller]'
 '[Biography, Drama]' '[Adventure, Comedy, Drama, Fantasy, Romance]'
 '[Drama, Horror, Mystery, Thriller]'
 '[Action, Adventure, Crime, Drama, Mystery, Thriller]'
 '[Action, Drama, Sport]' '[Action, Comedy, Crime]'
 '[Documentary, History, Music]' '[Action, Adventure, Thriller]'
 '[Comedy, Drama, Sport]' '[Comedy, Horror, Mystery, Thriller]' 'Comedy'
 '[Action, Adventure, Sci-Fi]' '[Comedy, Crime, Drama, Thriller]'
 '[Action, Drama, War]' '[Biography, Drama, History, Romance]'
 '[Action, Crime, Drama, Thriller]' 'Music' '[Adventure, Drama, Thriller]'
 '[Documentary, Biography, News]' '[Crime, Mystery, Thriller]' 'Action'
 '[Action, Drama, Sci-Fi, Thriller]' '[Mystery, Thriller]'
 '[Animation, Biography, Drama, History]' '[Action, Comedy]'
 '[Comedy, Crime, Drama]' '[Biography, Crime, Drama, Thriller]'
 '[Fantasy, Horror, Sci-Fi, Thriller]'
 '[Animation, Comedy, Family, Horror]'
 '[Action, Adventure, Drama, Sci-Fi, Thriller]'
 '[Action, Adventure, Biography, History, War]' '[Action, Sci-Fi]'
 '[Adventure, Comedy, Drama]' '[Drama, Mystery, Thriller]'
 '[Adventure, Drama]' '[Drama, Romance, Thriller]'
 '[Biography, Drama, War]'
 '[Action, Crime, Drama, Mystery, Sci-Fi, Thriller]'
 '[Drama, History, Musical, Romance, War]' '[Biography, Comedy, Drama]'
 '[Documentary, Biography]' '[Action, Adventure, Sci-Fi, Thriller]'
 '[Drama, Sport]' '[Documentary, Biography, Sport]'
 '[Comedy, Drama, Thriller]' '[Horror, Music, Thriller]'
 '[Action, Drama, Fantasy]' '[Biography, Drama, History]'
 '[Biography, Drama, Romance]' '[Documentary, Drama, Family, Sport]'
 '[Biography, Drama, Music]' '[Crime, Drama, Western]'
 '[Action, Comedy, War]' '[Documentary, Music]'
 '[Animation, Adventure, Comedy, Drama, Family, Fantasy]'
 '[Horror, Thriller]' '[Animation, Action, Comedy, Family]'
 '[Documentary, Family, History, News]' '[Action, Drama, History, War]'
 '[Comedy, Sport]' '[Documentary, Biography, Drama, Music]'
 '[Adventure, Comedy, Drama, Fantasy, Musical]'
 '[Action, Horror, Thriller]'
 '[Action, Biography, Comedy, Crime, Thriller]'
 '[Comedy, Crime, Horror, Thriller]' '[Comedy, Drama, Music, Romance]'
 '[Comedy, Drama, Family, Fantasy]' '[Comedy, Drama, Music]'
 '[Biography, Drama, History, Thriller]' '[Fantasy, Romance, Thriller]'
 '[Comedy, Drama, War]' '[Action, Adventure, Comedy, Fantasy, Mystery]'
 '[Documentary, Comedy, History, Mystery]' '[Drama, Family]'
 '[Action, Adventure, Drama, Sci-Fi]' '[Documentary, Sport]'
 '[Animation, Action, Adventure, Comedy, Family]' '[Documentary, History]'
 '[Animation, Drama, Thriller]' '[Action, Crime, Drama, Fantasy]'
 '[Action, Comedy, Crime, Drama, Thriller]'
 '[Comedy, Crime, Drama, Mystery, Thriller]'
 '[Action, Adventure, Family, Sci-Fi]'
 '[Action, Crime, Drama, Thriller, Western]' '[Action, Sci-Fi, Thriller]'
 '[Drama, Horror, Sci-Fi]' '[Adventure, Drama, Family, Fantasy]'
 '[Animation, Action, Adventure, Fantasy, Horror, Thriller]'
 '[Romance, Thriller]' '[Action, Adventure, Comedy, Horror, Sci-Fi]'
 '[Documentary, Drama, Family]' '[Action, Adventure, Fantasy, Sci-Fi]'
 '[Comedy, Music, Romance, Sci-Fi]' '[Action, Crime, Sci-Fi, Thriller]'
 '[Crime, Thriller]' '[Horror, Mystery]' '[Documentary, Musical]'
 '[Documentary, Biography, Crime, History, Mystery]'
 '[Drama, Horror, Thriller, War]' 'Romance'
 '[Horror, Mystery, Sci-Fi, Thriller]'
 '[Action, Adventure, Crime, Drama, Thriller]'
 '[Action, Adventure, Crime, Drama, History, Mystery, Thriller]'
 '[Action, Adventure, Comedy]'
 '[Animation, Adventure, Comedy, Family, Fantasy]'
 '[Comedy, Drama, Fantasy, Romance]' '[Documentary, Biography, Crime]'
 '[Fantasy, Horror, Thriller]' '[Action, Drama, History, Romance, War]'
 '[Drama, Fantasy, Horror, Mystery, Romance, Thriller]'
 '[Comedy, Crime, Drama, Musical]' '[Action, Adventure, Comedy, Crime]'
 '[Biography, Drama, Thriller]' '[Animation, Comedy, Drama]'
 '[Action, Comedy, Mystery]' '[Adventure, Drama, Sci-Fi]'
 '[Biography, Drama, Music, War]' '[Crime, Thriller, Western]'
 '[Adventure, Crime, Drama]' '[Drama, Horror, Mystery]'
 '[Action, Adventure, Drama, History]' '[Comedy, Drama, History, War]'
 'Biography' '[Comedy, Drama, Romance, Sci-Fi]'
 '[Animation, Adventure, Comedy, Family]' '[Adventure, Family, Fantasy]'
 '[Action, Crime, Drama, Sci-Fi, Thriller]'
 '[Action, Adventure, Fantasy, Mystery]'
 '[Drama, Horror, Mystery, Sci-Fi, Thriller]'
 '[Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller]'
 '[Animation, Action, Adventure, Comedy, Fantasy]' '[Comedy, History]'
 '[Drama, History, Thriller]' '[Action, Crime]'
 '[Animation, Action, Adventure, Fantasy]'
 '[Documentary, Biography, Family]' '[Drama, Fantasy, Romance]'
 '[Crime, Drama, History, Thriller]'
 '[Animation, Adventure, Comedy, Drama, Fantasy, Sci-Fi]'
 '[Drama, History, War]' '[Comedy, Fantasy, Horror]'
 '[Crime, Drama, Mystery, Thriller]' '[Drama, Music, Romance]'
 '[Comedy, Crime, Horror]' '[Drama, Romance, War]'
 '[Action, Comedy, Crime, Thriller]' '[Drama, Music, Musical, Romance]'
 '[Animation, Adventure, Comedy, Family, Fantasy, Music]'
 '[Comedy, Music, War]'
 '[Animation, Adventure, Comedy, Family, Fantasy, Mystery, Romance]'
 '[Biography, Comedy, Drama, Music]'
 '[Comedy, Drama, Romance, Sci-Fi, Thriller]'
 '[Action, Biography, Drama, War]' '[Biography, Comedy, Drama, Family]'
 '[Animation, Adventure, Family]' '[Drama, Music]'
 '[Comedy, Drama, Horror]' '[Documentary, Biography, Music]'
 '[Documentary, Action, Thriller, War]'
 '[Animation, Action, Crime, Drama, Sci-Fi, Thriller]'
 '[Crime, Drama, Mystery]' '[Action, Family]' '[Comedy, Drama, Mystery]'
 '[Action, Adventure, Drama, Romance, Sci-Fi, Thriller]'
 '[Animation, Adventure, Comedy, Crime, Family, Mystery]'
 '[Animation, Adventure, Comedy, Family, Sport]'
 '[Drama, Horror, Thriller]' '[Comedy, Drama, Fantasy]'
 '[Action, Adventure, Drama, Horror, Sci-Fi]'
 '[Action, Biography, Drama, History]' '[Action, Drama, History]'
 '[Adventure, Drama, Family, Fantasy, Music, Romance, Sci-Fi]'
 '[Comedy, Drama, Mystery, Romance]'
 '[Adventure, Drama, Fantasy, Romance, Thriller]'
 '[Adventure, Drama, Family]' '[Drama, Musical, Romance]'
 '[Documentary, History, News]' '[Adventure, Drama, Fantasy, Romance]'
 '[Animation, Sci-Fi, Thriller]' '[Action, Biography, Drama]'
 '[Adventure, Drama, Romance]' '[Drama, Fantasy, Mystery, Thriller, War]'
 '[Animation, Biography, Crime, Drama, Mystery]'
 '[Drama, Horror, Music, Thriller]' '[Documentary, Comedy]'
 '[Adventure, Drama, Mystery, Thriller]' '[Crime, Horror, Thriller]'
 '[Action, Drama, Family, Musical, Romance]'
 '[Animation, Adventure, Comedy, Family, Fantasy, Romance]'
 '[Adventure, Drama, History]' '[Action, Drama, Thriller]'
 '[Action, Biography, History, War]'
 '[Animation, Adventure, Comedy, Family, Fantasy, Sport]'
 '[Biography, Comedy, Drama, War]' '[Drama, Family, Romance]'
 '[Drama, Sci-Fi]' '[Documentary, Biography, Thriller]'
 '[Documentary, Drama, Sport]' '[Comedy, Fantasy]'
 '[Drama, Fantasy, Mystery]' '[Action, Drama, Thriller, War]'
 '[Action, Crime, Thriller, War]' '[Adventure, Western]' 'Adventure'
 '[Action, Adventure, Fantasy, Horror, Sci-Fi, Thriller]'
 '[Comedy, Family]' '[Biography, Comedy, Drama, Sport]'
 '[Drama, Fantasy, Horror, Mystery, Thriller]'
 '[Animation, Action, Comedy, Sci-Fi, Thriller]'
 '[Comedy, Fantasy, Sci-Fi]' '[Documentary, Biography, Musical]'
 '[Biography, Comedy]' '[Adventure, Comedy]'
 '[Animation, Drama, Fantasy, Romance]'
 '[Animation, Adventure, Comedy, Family, Fantasy, Musical]'
 '[Animation, Action, Adventure, Comedy, Family, Fantasy, Sci-Fi]'
 '[Adventure, Biography, Drama, History]'
 '[Documentary, Biography, Drama, Mystery]'
 '[Animation, Action, Adventure, Comedy, Crime, Sci-Fi]'
 '[Drama, Fantasy, Horror, Thriller]'
 '[Animation, Adventure, Comedy, Crime, Family]' '[Action, Fantasy]'
 '[Comedy, Mystery]' '[Action, Comedy, Crime, Family]'
 '[Drama, Thriller, War]' '[Documentary, Biography, Crime, History]'
 '[Animation, Action, Adventure, Comedy, Family, Fantasy]'
 '[Drama, History, Romance, War]' '[Crime, Romance, Thriller]'
 '[Biography, Comedy, Drama, Romance]'
 '[Animation, Action, Adventure, Comedy, Drama, Family, Fantasy, Musical, Sci-Fi, Thriller]'
 '[Action, Adventure, Drama, Fantasy, History]' '[Action, Drama, Romance]'
 '[Drama, Western]' '[Biography, History, Thriller, War]'
 '[Action, Fantasy, Horror, Mystery, Thriller]'
 '[Documentary, Biography, Drama, News]' '[Drama, Romance, Sci-Fi]'
 '[Comedy, Drama, Music, Musical, Romance]'
 '[Documentary, Biography, History, Sport]'
 '[Documentary, Animation, History]' '[Comedy, Horror]'
 '[Adventure, Comedy, Horror]' '[Documentary, Family]'
 '[Comedy, Drama, Family, Romance]' 'Mystery'
 '[Adventure, Drama, Western]'
 '[Action, Drama, Mystery, Sci-Fi, Thriller]' '[Action, History]'
 '[Action, Mystery, Thriller]' '[Documentary, War]' '[Horror, Sci-Fi]'
 '[Biography, Drama, Romance, Sport]'
 '[Comedy, Drama, Fantasy, Sci-Fi, Thriller]'
 '[Animation, Adventure, Family, History, War]'
 '[Animation, Action, Adventure, Drama, Fantasy, Sci-Fi]'
 '[Action, Fantasy, Romance]' '[Documentary, Horror]'
 '[Action, Comedy, Sci-Fi]' '[Biography, Crime, Drama, Romance]'
 '[Action, Drama, History, Thriller, War]'
 '[Adventure, Horror, Mystery, Thriller]' '[Documentary, Crime]'
 '[Adventure, Comedy, Fantasy]' '[Documentary, Drama, Romance]'
 '[Biography, Drama, Family, Music]' '[Crime, Drama, War]'
 '[Documentary, History, War]'
 '[Biography, Comedy, Crime, Drama, Romance]'
 '[Biography, Crime, Drama, Sport]'
 '[Animation, Adventure, Comedy, Crime, Drama, Family, Fantasy]'
 '[Action, Adventure, Comedy, Family, Fantasy, Sci-Fi]'
 '[Action, Crime, Drama]' '[Drama, Music, Thriller]'
 '[Drama, Fantasy, Horror]' '[Crime, Horror, Mystery, Thriller]'
 '[Drama, History, Romance]' '[Drama, Horror, Romance, Sci-Fi]'
 '[Adventure, Comedy, Drama, Romance]'
 '[Action, Comedy, Crime, Mystery, Romance]'
 '[Crime, Drama, Mystery, Thriller, Western]'
 '[Action, Adventure, Drama, Fantasy, Horror, Mystery, Thriller]'
 '[Adventure, Comedy, Family, Fantasy]'
 '[Action, Adventure, Comedy, Fantasy]'
 '[Crime, Drama, Romance, Thriller]' '[Animation, Drama, Family, War]'
 '[Biography, Drama, History, War]'
 '[Documentary, Action, Adventure, Sport]' '[Action, Adventure, Drama]'
 '[Action, Biography, Crime, Drama]'
 '[Action, Crime, Drama, Mystery, Thriller]' '[Action, Drama, Western]'
 '[Documentary, Short, Adventure, Biography, Family]'
 '[Action, Adventure, Biography, Drama, Romance, Thriller]'
 '[Adventure, Drama, Romance, Sci-Fi]'
 '[Animation, Adventure, Family, Fantasy]'
 '[Animation, Action, Adventure, Comedy, Family, Sci-Fi]'
 '[Romance, Sci-Fi]' '[Action, Comedy, Drama]'
 '[Adventure, Comedy, Drama, History, Western]'
 '[Drama, History, Horror, Mystery]'
 '[Action, Crime, Horror, Mystery, Thriller]' '[Crime, Mystery]'
 '[Adventure, Biography, Drama, Thriller]'
 '[Action, Crime, Drama, History, Thriller]'
 '[Action, Adventure, Fantasy, Horror]' '[Action, Drama, Horror]'
 '[Adventure, Crime, Drama, History, Thriller, Western]'
 '[Comedy, Drama, Western]' '[Biography, Crime, Drama, Mystery, Thriller]'
 '[Biography, Drama, History, Western]'
 '[Action, Drama, Romance, Thriller, War]'
 '[Action, Drama, History, Thriller]'
 '[Documentary, Biography, History, Music]'
 '[Drama, Mystery, Sci-Fi, Thriller]'
 '[Fantasy, Horror, Mystery, Thriller]'
 '[Animation, Comedy, Family, Fantasy]'
 '[Animation, Drama, Family, Mystery]' '[Action, Biography, Drama, Sport]'
 '[Action, Adventure, Crime, Thriller]' '[Adventure, Drama, Family, War]'
 '[Comedy, Thriller]' '[Action, Biography, Crime, Drama, Music, Thriller]'
 '[Documentary, News]' '[Adventure, Drama, Horror, Thriller]'
 '[Action, Adventure, Comedy, Crime, Thriller]'
 '[Animation, Action, Adventure, Comedy, Fantasy, Sci-Fi]'
 '[Adventure, Biography, Crime, Drama, Mystery, Thriller]'
 '[Adventure, Comedy, Family]' '[Comedy, Drama, Mystery, Sci-Fi]'
 '[Drama, Horror, Sci-Fi, Thriller]'
 '[Action, Adventure, Comedy, Fantasy, Sci-Fi]'
 '[Comedy, Drama, Musical, Romance]' '[Comedy, Musical, Romance]'
 'Fantasy' '[Action, Drama, Mystery]'
 '[Drama, Family, History, Mystery, Thriller]'
 '[Animation, Comedy, Family, Musical]' '[Biography, Crime, Drama]'
 '[Animation, Adventure, Comedy, Drama, Mystery, Sci-Fi, Thriller]'
 '[Biography, Family, Sport]' '[Animation, Action, Adventure]'
 '[Action, Comedy, Romance]' '[Documentary, Biography, Drama, Sport]'
 '[Documentary, Drama, Music]' '[Horror, Musical]'
 '[Documentary, Crime, Drama, News]' '[Action, Romance]'
 '[Documentary, Adventure, Sport]' '[Horror, Romance, Sci-Fi]'
 '[Documentary, Adventure, Biography]' '[Animation, Drama, Fantasy]'
 '[Action, Adventure, Mystery, Sci-Fi, Thriller]'
 '[Action, Comedy, Crime, Mystery, Thriller]'
 '[Documentary, Biography, Drama]' '[Action, Adventure, Drama, Fantasy]'
 '[Sci-Fi, Thriller]' '[Biography, Drama, Family]' '[Drama, Fantasy]'
 '[Animation, Adventure, Comedy, Family, Fantasy, Musical, Romance]'
 '[Drama, Horror, Romance, Thriller]'
 '[Action, Adventure, Family, Fantasy]' '[Biography, Drama, Romance, War]'
 '[Horror, Sci-Fi, Thriller]'
 '[Animation, Action, Comedy, Family, Musical, Sci-Fi]'
 '[Action, Adventure, Drama, Fantasy, Horror, Sci-Fi]'
 '[Comedy, Drama, Mystery, Thriller]' '[Documentary, Mystery]'
 '[Comedy, Drama, Fantasy, Horror, Thriller]'
 '[Adventure, Comedy, Crime, Drama, Western]'
 '[Action, Adventure, Fantasy]' '[Biography, Drama, Music, Romance]'
 '[Animation, Adventure, Comedy, Family, Sci-Fi, Sport]'
 '[Action, Drama, Sci-Fi]' '[Adventure, Crime, Drama, Mystery, Thriller]'
 '[Drama, Mystery, Romance, Thriller]' '[Action, Adventure, Western]'
 '[Documentary, Biography, Crime, News]' '[Biography, Drama, Horror]'
 '[Action, Adventure, Drama, Thriller, War]'
 '[Drama, History, Thriller, War]' '[Adventure, Comedy, Crime, Drama]'
 '[Comedy, Family, Fantasy, Horror, Mystery, Sci-Fi, Thriller]'
 '[Documentary, Drama, Mystery, Thriller]' '[Adventure, Horror, Thriller]'
 '[Biography, Drama, Sport, Thriller]'
 '[Action, Adventure, Comedy, Family, Sci-Fi]'
 '[Action, Adventure, Comedy, Family, Fantasy]'
 '[Comedy, Crime, Drama, War]' '[Drama, Mystery, War]'
 '[Comedy, Romance, Sport]'
 '[Animation, Adventure, Comedy, Family, Musical]'
 '[Drama, Fantasy, Mystery, Thriller]' '[Drama, Sci-Fi, Thriller]'
 '[Animation, Adventure, Drama, Family, Fantasy]'
 '[Action, Comedy, Horror, Sci-Fi]' '[Animation, Comedy, Drama, Family]'
 '[Comedy, Fantasy, Romance]' '[Documentary, Drama, History, News]'
 '[Action, Mystery, Sci-Fi, Thriller]'
 '[Action, Drama, Family, Romance, Sport]' '[Comedy, Family, Fantasy]'
 '[Animation, Adventure, Comedy, Family, Western]'
 '[Animation, Adventure, Family, Sci-Fi]'
 '[Fantasy, Horror, Mystery, Romance, Thriller]'
 '[Comedy, Drama, Music, Mystery]' '[Action, Adventure, Comedy, Horror]'
 '[Animation, Action, Adventure, Family, Mystery]'
 '[Animation, Drama, Fantasy, Mystery, Thriller]'
 '[Comedy, Drama, Fantasy, Romance, Sci-Fi]'
 '[Action, Adventure, Horror, Sci-Fi]' '[Action, Horror, Romance]'
 '[Adventure, Fantasy, Horror, Mystery, Romance, Thriller]'
 '[Documentary, Biography, Drama, History]'
 '[Action, Adventure, Drama, History, Horror, Mystery]'
 '[Comedy, Western]' '[Animation, Fantasy, Mystery, Thriller]'
 '[Documentary, Comedy, Romance]' '[Animation, Comedy, Drama, Romance]'
 '[Adventure, Fantasy]' '[Action, Adventure, Comedy, Thriller]'
 '[Comedy, Crime, Mystery]' '[Biography, Comedy, Crime, Drama]'
 '[Comedy, Drama, Romance, Sport]' '[Drama, Family, Fantasy, Romance]'
 '[Adventure, Drama, Horror, Mystery, Sci-Fi, Thriller]'
 '[Action, Comedy, Horror, Thriller]'
 '[Animation, Adventure, Comedy, Sci-Fi]'
 '[Crime, Horror, Romance, Thriller]' '[Action, Comedy, Horror]'
 '[Drama, Mystery, Sci-Fi]' '[Action, Comedy, Sport]'
 '[Action, Adventure, Horror, Thriller]'
 '[Action, Adventure, Crime, Fantasy, Sci-Fi, Thriller]'
 '[Drama, Family, Fantasy, Sport]' '[Action, Comedy, Fantasy, Romance]'
 '[Fantasy, Romance]' '[Drama, Fantasy, Mystery, Romance]'
 '[Documentary, Action, Comedy, History, Horror]'
 '[Animation, Adventure, Comedy, Family, Sci-Fi]'
 '[Animation, Adventure, Drama, Family]'
 '[Action, Adventure, Crime, Mystery, Thriller]'
 '[Action, Adventure, Drama, History, Romance]' '[Drama, Musical]'
 '[Documentary, Comedy, Music]'
 '[Animation, Action, Adventure, Comedy, Drama, Family, Sci-Fi]'
 '[Horror, Mystery, Sci-Fi]' '[Crime, Drama, Mystery, Sci-Fi]'
 '[Comedy, Drama, Romance, War]'
 '[Action, Drama, Mystery, Romance, Thriller]'
 '[Drama, Fantasy, Romance, Sci-Fi]'
 '[Action, Fantasy, Horror, Sci-Fi, Thriller]'
 '[Action, Comedy, Crime, Sci-Fi, Thriller]'
 '[Action, Adventure, Drama, Fantasy, Sci-Fi, Thriller]'
 '[Adventure, Drama, Fantasy, Mystery]'
 '[Animation, Action, Adventure, Family, Fantasy, Sci-Fi]'
 '[Action, Comedy, Fantasy, Sci-Fi]'
 '[Action, Adventure, Comedy, Musical, Mystery]'
 '[Comedy, Horror, Romance]' '[Adventure, History]'
 '[Action, Comedy, Drama, Musical, Romance]' '[Comedy, Fantasy, Thriller]'
 '[Adventure, Comedy, Crime, Thriller]' '[Action, Romance, Thriller]'
 '[Action, Comedy, Family]' '[Action, Comedy, Drama, Thriller]'
 '[Comedy, Fantasy, Horror, Romance]'
 '[Action, Crime, Mystery, Romance, Thriller]'
 '[Documentary, Drama, News]' '[Documentary, Biography, Family, Music]'
 '[Music, Mystery, Thriller]'
 '[Animation, Comedy, Family, Horror, Sci-Fi]'
 '[Action, Crime, Mystery, Thriller]'
 '[Animation, Action, Adventure, Sci-Fi]' '[Documentary, Animation, News]'
 '[Mystery, Romance, Thriller]' '[Action, Drama, Horror, Thriller]'
 '[Action, Adventure, Comedy, Drama]' '[Animation, Family, Fantasy]'
 '[Documentary, Action, Biography, Drama]'
 '[Documentary, Biography, History, War]'
 '[Animation, Drama, Family, Romance]'
 '[Family, Fantasy, Musical, Romance]'
 '[Action, Adventure, Comedy, Drama, Family]'
 '[Adventure, Drama, History, Mystery, War]'
 '[Documentary, Biography, History, News]'
 '[Documentary, Biography, Mystery]' '[Action, Comedy, History, Sci-Fi]'
 '[Action, Comedy, Thriller]' '[Comedy, Romance, Sci-Fi]'
 '[Action, Fantasy, Thriller]' '[Action, Drama, Mystery, Sci-Fi]'
 '[Biography, Drama, Music, Musical]' '[Animation, Drama]'
 '[Action, Adventure, Drama, Mystery]' '[Adventure, Fantasy, Mystery]'
 '[Action, Drama, Fantasy, Romance]' '[Animation, Action, Drama, Sci-Fi]'
 '[Animation, Adventure, Comedy, Family, Romance]'
 '[Action, Adventure, Crime, Sci-Fi, Thriller]'
 '[Action, Adventure, Comedy, Fantasy, Horror]'
 '[Comedy, Drama, Family, Musical]'
 '[Action, Adventure, Crime, Drama, Romance, Thriller]'
 '[Action, Drama, Fantasy, Thriller, Western]' '[Fantasy, Horror]'
 '[Action, Adventure, Drama, Thriller]'

In [327]:
def convert_to_list(x):
    if "[" in x:
        x = re.sub("[\[\]]", "", x)
        x = x.split(", ")
    else:
        x = x.split(" ") # split by non-existent delimiter
    return x

In [328]:
# get all unique genres available
genre_lists = df.genre.apply(lambda x: convert_to_list(x))
df.genre = genre_lists

# temp = genre_lists.tolist()
# flattened =  [y for x in temp for y in x]
# print(set(flattened))

In [329]:
type(df['genre'].iloc[0])

list

In [330]:
# add 23 new one-hot columns
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('genre')),
                          columns=mlb.classes_,
                          index=df.index))

In [331]:
df.tail(3)

,Name,num_ratings,avg_rating,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,Country,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
1482393,Beverly Hills Chihuahua 2,2901,4.4,G,1 February 2011 Video,85,9.0,20.0,"63,500,000",USA,...,0,0,0,0,0,0,0,0,0,0
2483260,The Pirate Fairy,11127,6.7,G,13 February 2014 Video,78,25.0,66.0,"67,400,000",USA,...,0,0,0,0,0,0,0,0,0,0
1216515,Tinker Bell and the Great Fairy Rescue,6664,7.0,G,21 September 2010 Video,76,17.0,30.0,"10,872,752",USA,...,0,0,0,0,0,0,0,0,0,0

In [332]:
# check for NaNs after transforming in all genre columns
df.shape

(3909, 44)

### 8. Release date to datetime and release location as a separate column

### 9. Cleaning up 'Gross'
Standardize currency, hard-code 3-digit movies, convert string to int/float

In [333]:
type(df['Gross'].iloc[0])

str

In [334]:
pd.set_option('display.max_row', 4000)
#df.Gross

In [335]:
# look for values which have alphabetic characters in them => not in USD and  has to be converted
df[df.Gross.str.contains(pat = "[a-zA-Z]")]

,Name,num_ratings,avg_rating,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,Country,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
3417422,Drishyam,23724,8.8,PG-13,19 December 2013 (India),160,81.0,10.0,"INR 750,000,000",India,...,0,0,0,0,0,0,0,1,0,0
6980546,Bharat Ane Nenu,13039,8.0,PG-13,20 April 2018 (India),173,125.0,21.0,INR 206,India,...,0,0,0,0,0,0,0,0,0,0
3569782,Jigarthanda,8325,8.4,PG-13,1 August 2014 (India),171,34.0,20.0,"INR 350,000,000",India,...,0,0,0,0,0,0,0,1,0,0
5440700,Theri,11077,7.2,PG-13,14 April 2016 (India),157,54.0,12.0,"INR 1,500,000,000",India,...,0,0,0,0,0,0,0,0,0,0
2106537,Matru ki Bijlee ka Mandola,5727,5.7,PG-13,11 January 2013 (India),151,42.0,20.0,"INR 466,500,000",India,...,0,0,0,0,0,0,0,0,0,0
6878378,Vivegam,9840,5.9,PG-13,24 August 2017 (Kuwait),149,56.0,20.0,"INR 120,000,000",India,...,0,0,0,0,0,0,0,1,0,0
3848892,Baby,47710,8.0,PG-13,23 January 2015 (India),159,212.0,25.0,"INR 1,429,900,000",India,...,0,0,0,0,0,0,0,1,0,0
3320578,Veeram,6312,6.6,PG-13,10 January 2014 (India),161,39.0,3.0,"INR 1,300,000,000",India,...,0,0,0,0,0,0,0,0,0,0
6734984,Duvvada Jagannadham,2451,5.5,PG-13,23 June 2017 (India),152,10.0,5.0,INR 157,India,...,0,0,0,0,0,0,0,0,0,0
4727512,Srimanthudu,9548,7.6,PG-13,7 August 2015 (India),158,64.0,5.0,"INR 1,445,500,000",India,...,0,0,0,0,0,0,0,0,0,0
7098658,Raazi,16995,7.8,PG-13,11 May 2018 (India),138,140.0,31.0,"INR 207,000,000,000",India,...,0,0,0,0,0,0,0,1,0,0
3495026,Fan,38733,7.1,PG-13,15 April 2016 (Singapore),138,304.0,57.0,"INR 1,880,000,000",India,...,0,0,0,0,0,0,0,1,0,0
5867800,Aruvi,8034,8.8,PG-13,15 December 2017 (India),130,76.0,18.0,"INR 350,000,000",India,...,0,0,0,0,0,0,0,0,0,0
2877108,Soodhu Kavvum,7153,8.4,PG-13,1 May 2013 (India),135,15.0,8.0,"INR 500,000,000",India,...,0,0,0,0,0,0,0,1,0,0
5457772,Sarrainodu,3137,6.4,PG-13,22 April 2016 (India),159,14.0,6.0,"INR 1,270,600,000",India,...,0,0,0,0,0,0,0,0,0,0
5178278,Vedalam,5139,6.3,PG-13,10 November 2015 (India),148,38.0,11.0,"INR 1,211,570,000",India,...,0,0,0,0,0,0,0,0,0,0
3142764,Race Gurram,7531,7.2,PG-13,11 April 2014 (India),163,16.0,19.0,INR 130,India,...,0,0,0,0,0,0,0,0,0,0
6485666,Mersal,21747,8.0,PG-13,18 October 2017 (India),172,76.0,13.0,"INR 2,540,000,000",India,...,0,0,0,0,0,0,0,1,0,0
3563156,Anjaan,3414,4.9,PG-13,15 August 2014 (India),166,22.0,7.0,"INR 950,000,000",India,...,0,0,0,0,0,0,0,1,0,0
5451690,American Satan,2474,5.5,R,13 October 2017 (USA),111,54.0,10.0,VND 74,USA,...,0,0,0,0,0,0,0,1,0,0
5297256,Pulimurugan,6133,7.0,PG-13,7 October 2016 (India),161,32.0,4.0,"INR 1,520,000,000",India,...,0,0,0,0,0,0,0,0,0,0
3802668,Govindudu Andari Vaadele,1607,5.7,PG-13,1 October 2014 (India),160,5.0,6.0,"INR 416,500,000",India,...,0,0,0,0,0,0,0,0,0,0
4258292,Yennai Arindhaal,7193,7.3,PG-13,5 February 2015 (India),168,41.0,8.0,"INR 1,060,000,000",India,...,0,0,0,0,0,0,0,1,0,0
5098128,Nannaku Prematho,7937,7.7,PG-13,13 January 2016 (India),168,39.0,8.0,"INR 870,200,000",India,...,0,0,0,0,0,0,0,1,0,0
6522546,Spyder,7799,6.8,PG-13,27 September 2017 (India),155,45.0,13.0,INR 124,India,...,0,0,0,0,0,0,0,1,0,0
6148156,Vikram Vedha,17906,8.7,PG-13,21 July 2017 (India),147,89.0,16.0,"INR 400,000,000",India,...,0,0,0,0,0,0,0,1,0,0
5956100,Tiger Zinda Hai,18396,6.1,PG-13,22 December 2017 (India),161,157.0,32.0,"INR 5,650,100,000",India,...,0,0,0,0,0,0,0,1,0,0
6027478,Dhruva,4629,8.0,PG-13,9 December 2016 (India),165,19.0,7.0,"INR 890,600,000",India,...,0,0,0,0,0,0,0,1,0,0
2304655,Gabbar Singh,5234,7.1,PG-13,11 May 2012 (India),153,12.0,10.0,"INR 98,000,000",India,...,0,0,0,0,0,0,0,0,0,0
1891755,Billa 2,9798,6.3,PG-13,13 July 2012 (Singapore),129,128.0,5.0,"INR 80,000,000",India,...,0,0,0,0,0,0,0,1,0,0
1512888,Ayirathil Oruvan,2724,7.7,PG-13,14 January 2010 (India),183,37.0,3.0,"INR 850,000,000",India,...,0,0,0,0,0,0,0,0,0,0
1661031,Brindaavanam,3195,7.2,PG-13,14 October 2010 (India),169,8.0,3.0,"INR 300,100,000",India,...,1,0,0,1,0,0,0,0,0,0
2082197,Barfi!,68152,8.1,PG-13,14 September 2012 (Singapore),151,231.0,62.0,"INR 1,030,300,000",India,...,0,0,0,1,0,0,0,0,0,0
1821478,Kaavalan,4017,6.9,PG-13,15 January 2011 (India),155,22.0,2.0,"INR 450,000,000",India,...,0,0,0,1,0,0,0,0,0,0
2585562,Pizza,5450,8.1,PG-13,19 October 2012 (India),127,7.0,10.0,"INR 180,000,000",India,...,0,0,0,0,0,0,0,1,0,0
2359810,Raanjhanaa,26543,7.6,PG-13,21 June 2013 (India),140,129.0,22.0,"INR 1,000,000,000",India,...,0,0,0,1,0,0,0,0,0,0
1851988,Ko,4481,7.8,PG-13,22 April 2011 (India),128,21.0,2.0,"INR 543,400,000",India,...,0,0,0,0,0,0,0,1,0,0
1375789,Race 2,13933,5.3,PG-13,25 January 2013 (India),150,51.0,23.0,"INR 1,843,800,000",India,...,0,0,0,0,0,0,0,1,0,0
1965272,Velayudham,9750,6.4,PG-13,26 October 2011 (India),186,69.0,7.0,"INR 480,000,000",India,...,0,0,0,0,0,0,0,0,0,0
3555036,Legend,1554,6.5,PG,28 March 2014 (India),168,10.0,5.0,"INR 400,400,000",India,...,0,0,0,0,0,0,0,0,0,0
1655607,Singam,4581,6.7,PG-13,28 May 2010 (India),160,14.0,2.0,"INR 750,000,000",India,...,0,0,0,0,0,0,0,1,0,0
1992138,Force,6290,6.4,R,30 September 2011 (India),137,26.0,26.0,"INR 260,500,000",India,...,0,0,0,0,0,0,0,1,0,0
1729637,Bodyguard,20075,4.6,PG-13,31 August 2011 (India),130,68.0,24.0,"INR 2,300,000,000",India,...,0,0,0,1,0,0,0,0,0,0
2555958,Arrambam,8017,7.2,PG-13,31 October 2013 (India),157,36.0,5.0,"INR 1,350,000,000",India,...,0,1,0,0,0,0,0,1,0,0
5460068,Emo the Musical,795,6.2,PG-13,4 May 2017 (Australia),94,12.0,34.0,"AUD 56,400,000",Australia,...,1,0,0,0,0,0,0,0,0,0
2204243,Baadshah,3661,6.5,PG-13,5 April 2013 (India),164,11.0,4.0,"INR 384,000,000",India,...,0,0,0,0,0,0,0,0,0,0
403935,Action Jackson,2812,3.3,PG-13,5 December 2014 (India),144,27.0,13.0,"INR 888,717,500",India,...,0,0,0,0,0,0,0,1,0,0
2309600,Singam 2,4966,6.3,PG-13,5 July 2013 (India),166,17.0,4.0,"INR 1,286,960,000",India,...,0,0,0,0,0,0,0,1,0,0
1890493,Oosaravelli,2946,6.6,PG-13,6 October 2011 (India),145,7.0,2.0,"INR 270,600,000",India,...,0,0,0,0,0,0,0,1,0,0
1753865,Giochi d'estate,361,6.6,R,8 February 2012 (France),141,NaN,NaN,Marina di Grosseto,Switzerland,...,0,0,0,1,0,0,0,0,0,0
2377938,Special Chabbis,44672,8.0,PG-13,8 February 2013 (India),144,109.0,30.0,"INR 810,000,000",India,...,0,0,0,0,0,0,0,1,0,0
2362778,Saheb Biwi Aur Gangster Returns,3491,6.8,PG-13,8 March 2013 (India),142,15.0,13.0,"INR 232,700,000",India,...,0,0,0,0,0,0,0,1,0,0
3638644,Seto Surya,362,7.0,PG,9 December 2016 (Nepal),89,3.0,29.0,"NPR 20,000,000",Nepal,...,0,0,0,0,0,0,0,0,0,0

In [336]:
# remove extra whitespaces, commas:
df['Gross'] = df.Gross.apply(lambda x: re.sub("[,\s]", "", x))
df[df.Gross.str.contains(pat = "[a-zA-Z]")]

,Name,num_ratings,avg_rating,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,Country,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
3417422,Drishyam,23724,8.8,PG-13,19 December 2013 (India),160,81.0,10.0,INR750000000,India,...,0,0,0,0,0,0,0,1,0,0
6980546,Bharat Ane Nenu,13039,8.0,PG-13,20 April 2018 (India),173,125.0,21.0,INR206,India,...,0,0,0,0,0,0,0,0,0,0
3569782,Jigarthanda,8325,8.4,PG-13,1 August 2014 (India),171,34.0,20.0,INR350000000,India,...,0,0,0,0,0,0,0,1,0,0
5440700,Theri,11077,7.2,PG-13,14 April 2016 (India),157,54.0,12.0,INR1500000000,India,...,0,0,0,0,0,0,0,0,0,0
2106537,Matru ki Bijlee ka Mandola,5727,5.7,PG-13,11 January 2013 (India),151,42.0,20.0,INR466500000,India,...,0,0,0,0,0,0,0,0,0,0
6878378,Vivegam,9840,5.9,PG-13,24 August 2017 (Kuwait),149,56.0,20.0,INR120000000,India,...,0,0,0,0,0,0,0,1,0,0
3848892,Baby,47710,8.0,PG-13,23 January 2015 (India),159,212.0,25.0,INR1429900000,India,...,0,0,0,0,0,0,0,1,0,0
3320578,Veeram,6312,6.6,PG-13,10 January 2014 (India),161,39.0,3.0,INR1300000000,India,...,0,0,0,0,0,0,0,0,0,0
6734984,Duvvada Jagannadham,2451,5.5,PG-13,23 June 2017 (India),152,10.0,5.0,INR157,India,...,0,0,0,0,0,0,0,0,0,0
4727512,Srimanthudu,9548,7.6,PG-13,7 August 2015 (India),158,64.0,5.0,INR1445500000,India,...,0,0,0,0,0,0,0,0,0,0
7098658,Raazi,16995,7.8,PG-13,11 May 2018 (India),138,140.0,31.0,INR207000000000,India,...,0,0,0,0,0,0,0,1,0,0
3495026,Fan,38733,7.1,PG-13,15 April 2016 (Singapore),138,304.0,57.0,INR1880000000,India,...,0,0,0,0,0,0,0,1,0,0
5867800,Aruvi,8034,8.8,PG-13,15 December 2017 (India),130,76.0,18.0,INR350000000,India,...,0,0,0,0,0,0,0,0,0,0
2877108,Soodhu Kavvum,7153,8.4,PG-13,1 May 2013 (India),135,15.0,8.0,INR500000000,India,...,0,0,0,0,0,0,0,1,0,0
5457772,Sarrainodu,3137,6.4,PG-13,22 April 2016 (India),159,14.0,6.0,INR1270600000,India,...,0,0,0,0,0,0,0,0,0,0
5178278,Vedalam,5139,6.3,PG-13,10 November 2015 (India),148,38.0,11.0,INR1211570000,India,...,0,0,0,0,0,0,0,0,0,0
3142764,Race Gurram,7531,7.2,PG-13,11 April 2014 (India),163,16.0,19.0,INR130,India,...,0,0,0,0,0,0,0,0,0,0
6485666,Mersal,21747,8.0,PG-13,18 October 2017 (India),172,76.0,13.0,INR2540000000,India,...,0,0,0,0,0,0,0,1,0,0
3563156,Anjaan,3414,4.9,PG-13,15 August 2014 (India),166,22.0,7.0,INR950000000,India,...,0,0,0,0,0,0,0,1,0,0
5451690,American Satan,2474,5.5,R,13 October 2017 (USA),111,54.0,10.0,VND74,USA,...,0,0,0,0,0,0,0,1,0,0
5297256,Pulimurugan,6133,7.0,PG-13,7 October 2016 (India),161,32.0,4.0,INR1520000000,India,...,0,0,0,0,0,0,0,0,0,0
3802668,Govindudu Andari Vaadele,1607,5.7,PG-13,1 October 2014 (India),160,5.0,6.0,INR416500000,India,...,0,0,0,0,0,0,0,0,0,0
4258292,Yennai Arindhaal,7193,7.3,PG-13,5 February 2015 (India),168,41.0,8.0,INR1060000000,India,...,0,0,0,0,0,0,0,1,0,0
5098128,Nannaku Prematho,7937,7.7,PG-13,13 January 2016 (India),168,39.0,8.0,INR870200000,India,...,0,0,0,0,0,0,0,1,0,0
6522546,Spyder,7799,6.8,PG-13,27 September 2017 (India),155,45.0,13.0,INR124,India,...,0,0,0,0,0,0,0,1,0,0
6148156,Vikram Vedha,17906,8.7,PG-13,21 July 2017 (India),147,89.0,16.0,INR400000000,India,...,0,0,0,0,0,0,0,1,0,0
5956100,Tiger Zinda Hai,18396,6.1,PG-13,22 December 2017 (India),161,157.0,32.0,INR5650100000,India,...,0,0,0,0,0,0,0,1,0,0
6027478,Dhruva,4629,8.0,PG-13,9 December 2016 (India),165,19.0,7.0,INR890600000,India,...,0,0,0,0,0,0,0,1,0,0
2304655,Gabbar Singh,5234,7.1,PG-13,11 May 2012 (India),153,12.0,10.0,INR98000000,India,...,0,0,0,0,0,0,0,0,0,0
1891755,Billa 2,9798,6.3,PG-13,13 July 2012 (Singapore),129,128.0,5.0,INR80000000,India,...,0,0,0,0,0,0,0,1,0,0
1512888,Ayirathil Oruvan,2724,7.7,PG-13,14 January 2010 (India),183,37.0,3.0,INR850000000,India,...,0,0,0,0,0,0,0,0,0,0
1661031,Brindaavanam,3195,7.2,PG-13,14 October 2010 (India),169,8.0,3.0,INR300100000,India,...,1,0,0,1,0,0,0,0,0,0
2082197,Barfi!,68152,8.1,PG-13,14 September 2012 (Singapore),151,231.0,62.0,INR1030300000,India,...,0,0,0,1,0,0,0,0,0,0
1821478,Kaavalan,4017,6.9,PG-13,15 January 2011 (India),155,22.0,2.0,INR450000000,India,...,0,0,0,1,0,0,0,0,0,0
2585562,Pizza,5450,8.1,PG-13,19 October 2012 (India),127,7.0,10.0,INR180000000,India,...,0,0,0,0,0,0,0,1,0,0
2359810,Raanjhanaa,26543,7.6,PG-13,21 June 2013 (India),140,129.0,22.0,INR1000000000,India,...,0,0,0,1,0,0,0,0,0,0
1851988,Ko,4481,7.8,PG-13,22 April 2011 (India),128,21.0,2.0,INR543400000,India,...,0,0,0,0,0,0,0,1,0,0
1375789,Race 2,13933,5.3,PG-13,25 January 2013 (India),150,51.0,23.0,INR1843800000,India,...,0,0,0,0,0,0,0,1,0,0
1965272,Velayudham,9750,6.4,PG-13,26 October 2011 (India),186,69.0,7.0,INR480000000,India,...,0,0,0,0,0,0,0,0,0,0
3555036,Legend,1554,6.5,PG,28 March 2014 (India),168,10.0,5.0,INR400400000,India,...,0,0,0,0,0,0,0,0,0,0
1655607,Singam,4581,6.7,PG-13,28 May 2010 (India),160,14.0,2.0,INR750000000,India,...,0,0,0,0,0,0,0,1,0,0
1992138,Force,6290,6.4,R,30 September 2011 (India),137,26.0,26.0,INR260500000,India,...,0,0,0,0,0,0,0,1,0,0
1729637,Bodyguard,20075,4.6,PG-13,31 August 2011 (India),130,68.0,24.0,INR2300000000,India,...,0,0,0,1,0,0,0,0,0,0
2555958,Arrambam,8017,7.2,PG-13,31 October 2013 (India),157,36.0,5.0,INR1350000000,India,...,0,1,0,0,0,0,0,1,0,0
5460068,Emo the Musical,795,6.2,PG-13,4 May 2017 (Australia),94,12.0,34.0,AUD56400000,Australia,...,1,0,0,0,0,0,0,0,0,0
2204243,Baadshah,3661,6.5,PG-13,5 April 2013 (India),164,11.0,4.0,INR384000000,India,...,0,0,0,0,0,0,0,0,0,0
403935,Action Jackson,2812,3.3,PG-13,5 December 2014 (India),144,27.0,13.0,INR888717500,India,...,0,0,0,0,0,0,0,1,0,0
2309600,Singam 2,4966,6.3,PG-13,5 July 2013 (India),166,17.0,4.0,INR1286960000,India,...,0,0,0,0,0,0,0,1,0,0
1890493,Oosaravelli,2946,6.6,PG-13,6 October 2011 (India),145,7.0,2.0,INR270600000,India,...,0,0,0,0,0,0,0,1,0,0
1753865,Giochi d'estate,361,6.6,R,8 February 2012 (France),141,NaN,NaN,MarinadiGrosseto,Switzerland,...,0,0,0,1,0,0,0,0,0,0
2377938,Special Chabbis,44672,8.0,PG-13,8 February 2013 (India),144,109.0,30.0,INR810000000,India,...,0,0,0,0,0,0,0,1,0,0
2362778,Saheb Biwi Aur Gangster Returns,3491,6.8,PG-13,8 March 2013 (India),142,15.0,13.0,INR232700000,India,...,0,0,0,0,0,0,0,1,0,0
3638644,Seto Surya,362,7.0,PG,9 December 2016 (Nepal),89,3.0,29.0,NPR20000000,Nepal,...,0,0,0,0,0,0,0,0,0,0

In [337]:
# add 7 trailing zeros for these 4:
# 6980546                 INR 206 Bharat Ane Nenu
# 3142764                 INR 130 Race Gurram
# 6734984                INR 157 Duvvada Jagannadham
# 6522546                INR 124 Spyder

gross_truncated = ["INR206", "INR130","INR157","INR124"]

df['Gross'] = df.Gross.apply(lambda x: x + "0000000" if x in gross_truncated else x)

In [338]:
# for American Satan - VND 74 cumulative worldwide gross - change to USD $226,232
# https://www.the-numbers.com/movie/American-Satan#tab=international
#df.at[5451690, 'Gross'] = "226232"

In [339]:
# Raazi - incorrectly entered as 2070 crores gross on IMDB
#df.at[7098658, 'Gross'] = "2070000000"

In [340]:
from currency_converter import CurrencyConverter
c = CurrencyConverter()

def convert_currency(x):
    if re.search('[a-zA-Z£]', x) == None:
        return float(x)
    
    split_gross = re.split('(\d+)',x)
    
    # GBP
    if(split_gross[0] == "£"):
        return (c.convert(float(split_gross[1]), 'GBP','USD'))
    
    # NPR isn't supported CurrencyConverter - hard code
    if(split_gross[0]  == "NPR"):
        return (float(split_gross[1])*0.0090)
    
    # VND isn't supported CurrencyConverter - hard code
    if(split_gross[0]  == "VND"):
        return (float(split_gross[1])*0.000043)
    
    return (c.convert(float(split_gross[1]), split_gross[0],'USD'))

In [342]:
df.tail(5)

,Name,num_ratings,avg_rating,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,Country,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
2806908,Le métis de Dieu,243,6.5,PG-13,29 March 2013 TV Movie,96,9.0,9.0,130661,France,...,0,0,0,0,0,0,0,0,0,0
1721683,La belle endormie,640,5.7,PG,3 September 2010 TV Movie,82,4.0,41.0,28791,France,...,0,0,0,0,0,0,0,0,0,0
1482393,Beverly Hills Chihuahua 2,2901,4.4,G,1 February 2011 Video,85,9.0,20.0,63500000,USA,...,0,0,0,0,0,0,0,0,0,0
2483260,The Pirate Fairy,11127,6.7,G,13 February 2014 Video,78,25.0,66.0,67400000,USA,...,0,0,0,0,0,0,0,0,0,0
1216515,Tinker Bell and the Great Fairy Rescue,6664,7.0,G,21 September 2010 Video,76,17.0,30.0,10872752,USA,...,0,0,0,0,0,0,0,0,0,0

In [346]:
df.tail(5)['Release date']

KeyError: 'Release date'

In [266]:
# check NaN
df['Gross'].isnull().values.any()

False

In [273]:
df['Gross'].describe()

count        3909
unique       3883
top       1100000
freq            3
Name: Gross, dtype: object

In [269]:
#### Adjust gross for inflation based on the year - need inputs from Karthik for this:
def adjust_for_inflation(gross, release_date):
    if release_date.year == 2010:
        return(gross*1.152)
    elif release_date.year == 2011: 
        return(gross*1.124)
    elif release_date.year == 2012:
        return(gross*1.101)
    elif release_date.year == 2013:
        return(gross*1.087)
    elif release_date.year == 2014:
        return(gross*1.086)
    elif release_date.year == 2015:
        return(gross*1.068)
    elif release_date.year == 2016:
        return(gross*1.053)
    elif release_date.year == 2017:
        return(gross*1.032)
    else: # 2018 => just return x itself
        return gross

In [275]:
df['gross'] = df.apply(lambda x: adjust_for_inflation(x['Gross'], x['release_date']), axis=1)

AttributeError: ("'str' object has no attribute 'year'", 'occurred at index 0')

In [348]:
df.head(5)['Release date'][0]

KeyError: 'Release date'

### If dividing into equal revenue ranges (instead of quintiles)

In [24]:
# def find_revenue_range(x):
#     if  0 <= x <= 588111000:
#         return 0
#     elif 588111001 <= x <= 1176222000:
#         return 1
#     elif 1176222000 <= x <= 1764333003:
#         return 2
#     elif 1764333003 <= x <= 2352444004:
#         return 3
#     else:
#         return 4
    
        
# df['gross_equal_range'] = df['Gross'].apply(lambda x: find_revenue_range(x))

In [29]:
# df[df['gross_equal_range'] == 3]

,Name,num_ratings,avg_rating,genre,motion_picture_rating,release_date,duration,num_user_ratings,num_critic_ratings,Gross,Country,Language,Production_House,Average_popularity_score_per_movie,num_languages,gross_equal_range
IMDB_ID,,,,,,,,,,,,,,,,
2488496,Star Wars: Episode VII - The Force Awakens,775868,8.0,"[Action, Adventure, Fantasy, Sci-Fi]",PG-13,17 December 2015 (Singapore),136,4.0,869.0,2.068224e+09,USA,English,Lucasfilm,4.859333,1,3
4154756,Avengers: Infinity War,609049,8.5,"[Action, Adventure, Sci-Fi]",PG-13,25 April 2018 (Singapore),149,3.0,560.0,2.048710e+09,USA,English,Marvel Studios,15.181667,1,3

## Categorize movies by gross revenue quintile
Split movies into 5 groups by revenue, and add (one-hot?) columns for classification.

In [67]:
print(list(df.columns.values))
print(df.shape)

['Name', 'num_ratings', 'avg_rating', 'main_cast_list', 'main_cast_links', 'dir_list', 'creator_list', 'motion_picture_rating', 'release_date', 'duration', 'meta_critic_score', 'num_user_ratings', 'num_critic_ratings', 'story_line', 'others', 'Gross', 'Country', 'Language', 'Production_House', 'viewCount', 'likeCount', 'dislikeCount', 'commentCount', 'Afinn Pre Release', 'Afinn Post Release', 'Release date ', 'Holiday', 'Action', 'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Thriller', 'War', 'Western']
(3909, 50)

In [68]:
df.head(5)

,Name,num_ratings,avg_rating,main_cast_list,main_cast_links,dir_list,creator_list,motion_picture_rating,release_date,duration,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
1690470,Gekijouban Poketto monsutâ: Daiamondo & Pâru -...,1251,6.2,Ikue Ôtani|Sarah Natochenny|Wayne Grayson,/name/nm0649026/|/name/nm2516299/|/name/nm0969...,Kunihiko Yuyama,Satoshi Tajiri|Hideki Sonoda,PG-13,10 July 2010 (Japan),1h 36min,...,0,0,0,0,1,0,0,0,0,0
1508290,Kyatapirâ,952,6.7,Shinobu Terajima|Keigo Kasuya|Emi Masuda,/name/nm0855429/|/name/nm2486225/|/name/nm3787...,Kôji Wakamatsu,Hisako Kurosawa|Masao Adachi,PG-13,14 August 2010 (Japan),1h 25min,...,0,0,0,0,0,0,0,0,1,0
2057455,Dalpaengee eui byeol,323,7.3,Cho Young-Chan|Kim Soon-ho|Choi Jungah,/name/nm9804862/|/name/nm9804863/|/name/nm9804...,Seung-jun Yi,NaN,PG-13,15 February 2014 (Japan),1h 28min,...,0,0,0,0,0,0,0,0,0,0
2077826,Gekijoban Poketto Monsuta besuto uisshu bikuti...,1152,6.1,Rica Matsumoto|Ikue Ôtani|Hideki Takahashi,/name/nm0559551/|/name/nm0649026/|/name/nm0847...,Kunihiko Yuyama,Junichi Masuda|Hideki Sonoda|Ken Sugimori|Sato...,PG-13,16 July 2011 (Japan),1h 28min,...,0,0,0,0,1,0,0,0,0,0
1937133,De l'autre côté du périph,4319,5.8,Omar Sy|Laurent Lafitte|Sabrina Ouazani,/name/nm1082477/|/name/nm0480850/|/name/nm1493...,David Charhon,Eric Altmayer|Nicolas Altmayer|David Charhon|A...,R,19 December 2012 (France),1h 36min,...,0,0,0,0,0,0,0,0,0,0

#### Divide into quintiles based on gross revenue
This divides into 5 balanced classes.
*** Dividing into 5 based on manually selected ranges results in a very high accuracy ~97%, because it is highly imbalanced - even easiest prediction of majority class can result in this accuracy.  **

In [70]:
ret_value = pd.qcut(df['Gross'], 5, labels=["very low", "low", "medium", "high", "very high"], retbins = True)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#### Check bucket values

In [71]:
df['gross_category'] = ret_value[0]
ret_value[1]
# low ends at 3.782940e+05, medium ends at 5.823487e+06, high ends at 6.337276e+07

NameError: name 'ret_value' is not defined

In [ ]:
df.groupby('gross_category').size()

In [ ]:
df_sorted = df.sort_values(['Gross','gross_category'])

#### This prints the whole dataframe (all ~3k rows)!

In [ ]:
#df_sorted

## Basic Classification Model - Logistic Regression

### Join df with YouTube features, Sentiment features

In [72]:
df_cleaned = df.copy()

In [73]:
df_cleaned.head(5)

,Name,num_ratings,avg_rating,main_cast_list,main_cast_links,dir_list,creator_list,motion_picture_rating,release_date,duration,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
IMDB_ID,,,,,,,,,,,,,,,,,,,,,
1690470,Gekijouban Poketto monsutâ: Daiamondo & Pâru -...,1251,6.2,Ikue Ôtani|Sarah Natochenny|Wayne Grayson,/name/nm0649026/|/name/nm2516299/|/name/nm0969...,Kunihiko Yuyama,Satoshi Tajiri|Hideki Sonoda,PG-13,10 July 2010 (Japan),1h 36min,...,0,0,0,0,1,0,0,0,0,0
1508290,Kyatapirâ,952,6.7,Shinobu Terajima|Keigo Kasuya|Emi Masuda,/name/nm0855429/|/name/nm2486225/|/name/nm3787...,Kôji Wakamatsu,Hisako Kurosawa|Masao Adachi,PG-13,14 August 2010 (Japan),1h 25min,...,0,0,0,0,0,0,0,0,1,0
2057455,Dalpaengee eui byeol,323,7.3,Cho Young-Chan|Kim Soon-ho|Choi Jungah,/name/nm9804862/|/name/nm9804863/|/name/nm9804...,Seung-jun Yi,NaN,PG-13,15 February 2014 (Japan),1h 28min,...,0,0,0,0,0,0,0,0,0,0
2077826,Gekijoban Poketto Monsuta besuto uisshu bikuti...,1152,6.1,Rica Matsumoto|Ikue Ôtani|Hideki Takahashi,/name/nm0559551/|/name/nm0649026/|/name/nm0847...,Kunihiko Yuyama,Junichi Masuda|Hideki Sonoda|Ken Sugimori|Sato...,PG-13,16 July 2011 (Japan),1h 28min,...,0,0,0,0,1,0,0,0,0,0
1937133,De l'autre côté du périph,4319,5.8,Omar Sy|Laurent Lafitte|Sabrina Ouazani,/name/nm1082477/|/name/nm0480850/|/name/nm1493...,David Charhon,Eric Altmayer|Nicolas Altmayer|David Charhon|A...,R,19 December 2012 (France),1h 36min,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# read from YouTube excel file here and join the 2 dataframes for columns - viewCount,  likeCount, dislikeCount, commentCount

In [ ]:
# read from sentiment features

### Dealing with categorical features
Inspect non-numeric columns:

* Country                                 object -- 61 unique - categorize as top 5 vs. others 
* Language                                object -- 77 unique - categorize as top 5 vs. others 
* Production_House                        object -- ~2000+ unique - categorize as top 5 vs. othersCheck
* motion_picture_rating                   object -- only 5 groups 
* Name                                    object -- drop, too unique, unless using to derive a text-based feature
* release_date                            object -- drop, can be used to extract weekend/not later

In [ ]:
df_cleaned.dtypes

#### Check production house split

In [ ]:
df_cleaned['Production_House'].dtypes

In [ ]:
df_cleaned['Production_House'].head(5)

In [ ]:
# could do top 5 vs others
df_cleaned.groupby('Production_House').size().sort_values(ascending = False).head(20)

In [34]:
top_production = list(df_cleaned.groupby('Production_House').size().sort_values(ascending = False).head(5).index)

df_cleaned['Production_House'] = df_cleaned.Production_House.apply(lambda x: x if x in top_production
                                         else "Other")

In [ ]:
df_cleaned.groupby('Production_House').size().sort_values(ascending = False)

#### Check language split

In [ ]:
df_cleaned.groupby('Language').size().sort_values(ascending = False).head(20) # could do English, French, Hindi, Spanish, Mandarin vs. others

In [35]:
top_language = list(df_cleaned.groupby('Language').size().sort_values(ascending = False).head(5).index)

df_cleaned['Language'] = df_cleaned.Language.apply(lambda x: x if x in top_language
                                         else "Other")

In [ ]:
df_cleaned.groupby('Language').size().sort_values(ascending = False)

#### Check country split

In [ ]:
df_cleaned.groupby('Country').size().sort_values(ascending = False).head(20) # could do USA, UK, France, India, Canada, China vs. others

In [36]:
top_countries = list(df_cleaned.groupby('Country').size().sort_values(ascending = False).head(5).index)

df_cleaned['Country'] = df_cleaned.Country.apply(lambda x: x if x in top_countries
                                         else "Other")

In [ ]:
df_cleaned.groupby('Country').size().sort_values(ascending = False)

### One-Hot Encoding 
For categorical features, and the gross_category label.

In [347]:
X = df_cleaned.drop(['gross_category', 'Gross', 'Name'], axis=1) 
# drop is NOT in-place by default, doesn't affect original DF

y = df_cleaned['gross_category'].copy()

KeyError: "['gross_category'] not found in axis"

In [79]:
X.dtypes

num_ratings                             int64
avg_rating                            float64
genre                                  object
motion_picture_rating                  object
duration                                int64
num_user_ratings                      float64
num_critic_ratings                    float64
Country                                object
Language                               object
Production_House                       object
Average_popularity_score_per_movie    float64
num_languages                           int64
gross_equal_range                       int64
dtype: object

In [80]:
#categorical_cols = ["motion_picture_rating", "Country", "Language",  "Production_House"]
X_dummies = pd.get_dummies(X)

In [ ]:
X_dummies.shape

In [ ]:
X_dummies.head(5)

In [81]:
le = preprocessing.LabelEncoder()
le.fit(y)

LabelEncoder()

In [ ]:
list(le.classes_)

In [82]:
y_encoded = le.transform(y) 
#y_encoded = y

### Split data - train, test

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_encoded, random_state=1)

NameError: name 'X_dummies' is not defined

In [184]:
imputer = SimpleImputer()
scaler = StandardScaler()
lr = LogisticRegression(multi_class = "multinomial", solver = 'newton-cg', max_iter = 3000)

pipe = Pipeline([('imputer', imputer),
                 ('scaler', scaler), 
                 ('lr', lr)])


pipe.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('lr', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=3000, multi_class='multinomial',
          n_jobs=None, penalty='l2', random_state=None, solver='newton-cg',
          tol=0.0001, verbose=0, warm_start=False))])

In [180]:
pipe.named_steps.keys()

dict_keys(['imputer', 'scaler', 'lr'])

In [185]:
# for any continuous parameters, specify a distribution instead of a list of options
param_grid = {}
param_grid['imputer__strategy'] = ["mean", "median"]
param_grid['scaler__with_mean'] = [True, False]
param_grid['scaler__with_std'] = [True, False]
param_grid['lr__C'] = [1, 0.75, 0.5] # smaller specifies stronger regularization
param_grid

{'imputer__strategy': ['mean', 'median'],
 'scaler__with_mean': [True, False],
 'scaler__with_std': [True, False],
 'lr__C': [1, 0.75, 0.5]}

In [186]:
# additional parameters are n_iter (number of searches) and random_state
rand = RandomizedSearchCV(pipe, param_grid, cv=5, scoring='accuracy', n_iter=5, random_state=1)

In [187]:
# time the randomized search
%time rand.fit(X_train, y_train)

/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:422: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/sklearn/utils/optimize.py:195: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:422: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/sklearn/utils/optimize.py:195: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:422: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/sklearn/utils/optimize.py:195: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:422: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/sklearn/utils/optimize.py:195: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:422: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/sklearn/utils/optimize.py:195: UserWarning: Line Search failed
  warnings.warn('Line Search failed')
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:462: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:313: LineSearchWarning: The line search algorithm did not converge
  warn('The line search algorithm did not converge', LineSearchWarning)

CPU times: user 14min 32s, sys: 5.54 s, total: 14min 37s
Wall time: 7min 27s

/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/scipy/optimize/linesearch.py:422: LineSearchWarning: Rounding errors prevent the line search from converging
  warn(msg, LineSearchWarning)
/Users/spatika/anaconda3/envs/BT5153/lib/python3.7/site-packages/sklearn/utils/optimize.py:195: UserWarning: Line Search failed
  warnings.warn('Line Search failed')

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('lr', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_interce...y='l2', random_state=None, solver='newton-cg',
          tol=0.0001, verbose=0, warm_start=False))]),
          fit_params=None, iid='warn', n_iter=5, n_jobs=None,
          param_distributions={'imputer__strategy': ['mean', 'median'], 'scaler__with_mean': [True, False], 'scaler__with_std': [True, False], 'lr__C': [1, 0.75, 0.5]},
          pre_dispatch='2*n_jobs', random_state=1, refit=True,
          return_train_score='warn', scoring='accuracy', verbose=0)

In [188]:
print(rand.best_score_) # hold-out set
print(rand.best_params_)
# print the best model found by RandomizedSearchCV
print(rand.best_estimator_)

0.5131034482758621
{'scaler__with_std': False, 'scaler__with_mean': True, 'lr__C': 1, 'imputer__strategy': 'median'}
Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='median', verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=False)), ('lr', LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=3000, multi_class='multinomial',
          n_jobs=None, penalty='l2', random_state=None, solver='newton-cg',
          tol=0.0001, verbose=0, warm_start=False))])

In [189]:
# predictions on train and test data with best estimator
y_trainpred0 = rand.predict(X_train)
y_pred0 = rand.predict(X_test)

print(metrics.accuracy_score(y_test, y_pred0))
#print(metrics.f1_score(y_test, y_pred0, average='macro'))

0.5222337125129266
0.5205962928208976

In [190]:
# train set
print(metrics.accuracy_score(y_train, y_trainpred0))
#print(metrics.f1_score(y_train, y_trainpred0, average='macro'))

0.6610344827586206
0.6604624669319147

In [221]:
# interpretation - none of these work?
#lr.summary()
# lr.intercept
lr.coef_

array([[ 1.08828396, -0.16609268,  0.04878577, ...,  0.16808627,
         0.1417818 , -0.18231989],
       [-1.14826968,  0.13146162, -0.2558423 , ..., -0.29465784,
         0.22114469,  0.12376476],
       [-2.15067419,  0.28179708, -0.18237579, ...,  0.15799099,
        -0.57826512,  0.12815282],
       [ 2.5991521 , -0.22380201,  0.88739497, ...,  0.2120307 ,
         0.22211297, -0.39524249],
       [-0.3884922 , -0.02336401, -0.49796265, ..., -0.24345013,
        -0.00677433,  0.3256448 ]])

In [220]:
# print("Train accuracy: ", pipe.score(X_train, y_train))
# print("Test accuracy: ", pipe.score(X_test, y_test))

### k-NN Classification

In [46]:
knn = KNeighborsClassifier()
pipe_knn = Pipeline([('imputer', imputer),
                 ('scaler', scaler), 
                 ('knn', knn)])
# pipeline steps are automatically assigned names by make_pipeline

NameError: name 'imputer' is not defined

In [195]:
param_grid = {}
param_grid['imputer__strategy'] = ["mean", "median"]
param_grid['scaler__with_mean'] = [True, False]
param_grid['scaler__with_std'] = [True, False]
param_grid['knn__n_neighbors'] = [15, 20, 25, 30, 10, 50] 
param_grid['knn__weights'] = ['uniform', 'distance'] 
param_grid['knn__algorithm'] = ['auto', 'ball_tree', 'kd_tree', 'brute']
param_grid

{'imputer__strategy': ['mean', 'median'],
 'scaler__with_mean': [True, False],
 'scaler__with_std': [True, False],
 'knn__n_neighbors': [15, 20, 25, 30, 10, 50],
 'knn__weights': ['uniform', 'distance'],
 'knn__algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']}

In [196]:
rand_knn = RandomizedSearchCV(pipe_knn, param_grid, cv=5, scoring='accuracy', n_iter=5, random_state=1)

In [197]:
# time the randomized search
%time rand_knn.fit(X_train, y_train)

CPU times: user 3min 13s, sys: 1.99 s, total: 3min 15s
Wall time: 3min 9s

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('knn', KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform'))]),
          fit_params=None, iid='warn', n_iter=5, n_jobs=None,
          param_distributions={'imputer__strategy': ['mean', 'median'], 'scaler__with_mean': [True, False], 'scaler__with_std': [True, False], 'knn__n_neighbors': [15, 20, 25, 30, 10, 50], 'knn__weights': ['uniform', 'distance'], 'knn__algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']},
          pre_dispatch='2*n_jobs', random_state=1, refit=True,
          return_train_score='warn', scoring='accuracy', verbose=0)

In [198]:
print(rand_knn.best_score_) # hold-out set
print(rand_knn.best_params_)

0.4379310344827586
{'scaler__with_std': False, 'scaler__with_mean': True, 'knn__weights': 'uniform', 'knn__n_neighbors': 50, 'knn__algorithm': 'brute', 'imputer__strategy': 'mean'}

In [199]:
# print the best model found by RandomizedSearchCV
print(rand_knn.best_estimator_)

Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=False)), ('knn', KNeighborsClassifier(algorithm='brute', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=50, p=2,
           weights='uniform'))])

In [203]:
# predictions on train and test data with best estimator
y_trainpred_knn = rand_knn.predict(X_train)
y_pred_knn = rand_knn.predict(X_test)

print(metrics.accuracy_score(y_test, y_pred_knn))
print(metrics.f1_score(y_test, y_pred_knn, average='macro'))

0.45191313340227507
0.4493592262021139

In [204]:
# train set
print(metrics.accuracy_score(y_train, y_trainpred_knn))
print(metrics.f1_score(y_train, y_trainpred_knn, average='macro'))

0.4748275862068966
0.4693067758301785

In [201]:
# pipe_knn.fit(X_train, y_train) # add randomized CV/grid search
# print("Train accuracy: ", pipe_knn.score(X_train, y_train))
# print("Test accuracy: ", pipe_knn.score(X_test, y_test))

### Random Forest Classification

In [206]:
rf = RandomForestClassifier(random_state=0)
pipe_rf = Pipeline([('imputer', imputer),
                 ('scaler', scaler), 
                 ('rf', rf)])

In [210]:
param_grid = {}
param_grid['imputer__strategy'] = ["mean", "median"]
param_grid['scaler__with_mean'] = [True, False]
param_grid['scaler__with_std'] = [True, False]
param_grid['rf__n_estimators'] = [50, 100, 150, 200, 300, 500]  # how many trees to use in the forest
param_grid['rf__max_depth'] = [3, 5, 7, 9] # max depth
param_grid['rf__criterion'] = ['gini', 'entropy']
param_grid['rf__max_features'] = ['auto', 'log2'] # like mtry
param_grid

{'imputer__strategy': ['mean', 'median'],
 'scaler__with_mean': [True, False],
 'scaler__with_std': [True, False],
 'rf__n_estimators': [50, 100, 150, 200, 300, 500],
 'rf__max_depth': [3, 5, 7, 9],
 'rf__criterion': ['gini', 'entropy'],
 'rf__max_features': ['auto', 'log2']}

In [211]:
rand_rf = RandomizedSearchCV(pipe_rf, param_grid, cv=5, scoring='accuracy', n_iter=5, random_state=1)

In [212]:
# time the randomized search
%time rand_rf.fit(X_train, y_train)

CPU times: user 25.1 s, sys: 930 ms, total: 26 s
Wall time: 16.9 s

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
          estimator=Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, m...ors='warn', n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False))]),
          fit_params=None, iid='warn', n_iter=5, n_jobs=None,
          param_distributions={'imputer__strategy': ['mean', 'median'], 'scaler__with_mean': [True, False], 'scaler__with_std': [True, False], 'rf__n_estimators': [50, 100, 150, 200, 300, 500], 'rf__max_depth': [3, 5, 7, 9], 'rf__criterion': ['gini', 'entropy'], 'rf__max_features': ['auto', 'log2']},
          pre_dispatch='2*n_jobs', random_state=1, refit=True,
          return_train_score='warn', scoring='accuracy', verbose=0)

In [213]:
print(rand_rf.best_score_) # hold-out set
print(rand_rf.best_params_)

0.4696551724137931
{'scaler__with_std': False, 'scaler__with_mean': False, 'rf__n_estimators': 500, 'rf__max_features': 'log2', 'rf__max_depth': 9, 'rf__criterion': 'entropy', 'imputer__strategy': 'median'}

In [214]:
# print the best model found by RandomizedSearchCV
print(rand_rf.best_estimator_)

Pipeline(memory=None,
     steps=[('imputer', SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='median', verbose=0)), ('scaler', StandardScaler(copy=True, with_mean=False, with_std=False)), ('rf', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=...mators=500, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False))])

In [215]:
# predictions on train and test data with best estimator
y_trainpred_rf = rand_rf.predict(X_train)
y_pred_rf = rand_rf.predict(X_test)

print(metrics.accuracy_score(y_test, y_pred_rf))
print(metrics.f1_score(y_test, y_pred_rf, average='macro'))

0.49948293691830403
0.46833752264815975

In [216]:
# train set
print(metrics.accuracy_score(y_train, y_trainpred_rf))
print(metrics.f1_score(y_train, y_trainpred_rf, average='macro'))

0.636551724137931
0.6191621151260325

In [219]:
# pipe_rf.fit(X_train, y_train) # add randomized CV/grid search
# print("Train accuracy: ", pipe_rf.score(X_train, y_train))
# print("Test accuracy: ", pipe_rf.score(X_test, y_test))

In [218]:

# rf.feature_importances - cannot do this when using pipeline?

### TODO modelling
0. Finalize evaluation metric - 1-away classification accuracy could be good - https://sud3010ganesh.github.io/2018-05-29-boxofficerevenueprediction/
1. Interpreting models - e.g., for RF, visualizing feature importance - https://towardsdatascience.com/how-to-visualize-a-decision-tree-from-a-random-forest-in-python-using-scikit-learn-38ad2d75f21c
2. Choose any other candidate models - neural networks, for example (like SNAP paper) or NB
3. Ensembling models/add to hyperparameter tuning above to improve performance
4. extension - setting y-variable (gross category) by K-means clustering gross revenue